{% extends 'AxipiBlogBundle::base.html.twig' %}

{% block main %}
    <!-- Blog / Category -->
    <section class="main">
        <header>
            <h1>{{ page.title }}</h1>
        </header>

        <article>
            {{ convertText(page.attribute('description')|raw) }}
        </article>
    </section>

    {%for post in children %}
        <section class="post" id="post-{{ post.id }}">
            <header>
                <h1><a href="{{ buildLink(post) }}" rel="bookmark">{{ post.title }}</a></h1>
            </header>

            <article>
                {% set content = post.attribute('description')|split('<p><!-- pagebreak --></p>') %}
                {{ convertText(content|first|raw) }}
                {% if content|length > 1 %}
                    <p><a href="{{ buildLink(post) }}#more-{{ post.id }}" class="more-link">Continue reading</a></p>
                {% endif %}
            </article>

            <footer>
                <p>This entry was posted in <a href="{{ buildLink(page) }}" rel="category tag">{{ page.title }}</a> on <a href="{{ buildLink(post) }}" title="TODO" rel="bookmark"><time class="entry-date" datetime="TODO">TODO</time></a></p>
            </footer>
        </section>
    {% endfor %}

    <!-- Blog / Category (end) -->
{% endblock %}

{% block style %}
    {{ parent() }}
{% endblock %}

{% block script %}
    {{ parent() }}
{% endblock %}
