{% extends 'AxipiBlogBundle::base.html.twig' %}

{% block main %}
    <!-- Blog / Category -->
    <section class="main">
        <header>
            <h1>{{ page.title }}</h1>
        </header>

        <article>
            {{ convertText(page.attribute('description')|raw) }}
        </article>
    </section>

    {%for post in posts %}
        <section class="post" id="post-{{ post.id }}">
            <header>
                <h2><a href="{{ buildLink(post) }}">{{ post.title }}</a></h2>
                {% if post.attribute('image') %}
                    <p><a href="{{ buildLink(post) }}"><img src="{{ relative_path('uploads/' ~ post.attribute('image'))|imagine_filter('banner') }}" alt=""></a></p>
                {% endif %}
            </header>

            <article>
                {% set content = post.attribute('description')|split('<p><!-- pagebreak --></p>') %}
                {{ convertText(content|first|raw) }}
                {% if content|length > 1 %}
                    <p><a href="{{ buildLink(post) }}#more-{{ post.id }}" class="more-link">Continue reading</a></p>
                {% endif %}
            </article>

            <footer>
                <p>This entry was posted in <a href="{{ buildLink(page) }}">{{ page.title }}</a> on <a href="{{ buildLink(post) }}"><time class="entry-date" datetime="{{ post.dateCreated|date('c') }}">{{ post.dateCreated|date('D, F j, Y, H:i') }}</time></a></p>
            </footer>
        </section>
    {% endfor %}

    {% if posts.pageCount > 1 %}
        {{ knp_pagination_render(posts) }}
    {% endif %}
    <!-- Blog / Category (end) -->
{% endblock %}

{% block style %}
    {{ parent() }}
{% endblock %}

{% block script %}
    {{ parent() }}
{% endblock %}
