{% extends 'AxipiBlogBundle::base.html.twig' %}

{% block main %}
    <!-- Blog / Category -->
    <div class="row">
        <div class="col-lg-12">
            <h1>{{ page.title }}</h1>
            {{ convertText(page.attribute('description')|raw) }}
        </div>
    </div>

    {%for post in children %}
        <div class="row">
            <div class="col-lg-12">
                <div class="media">
                    <div class="media-left">
                        {% if post.attribute('thumbnail') %}
                            <a class="href="{{ buildLink(post) }}"><img class="media-object" src="{{ asset('uploads/' ~ post.attribute('thumbnail')) }}"></a>
                        {% endif %}
                    </div>
                    <div class="media-body">
                        <h2 class="media-heading"><a href="{{ buildLink(post) }}">{{ post.title }}</a></h2>
                        {% set content = post.attribute('description')|split('<p><!-- pagebreak --></p>') %}
                        {{ convertText(content|first|raw) }}
                        {% if content|length > 1 %}
                            <p><a class="btn btn-primary" href="{{ buildLink(post) }}">Read More <i class="fa fa-angle-right"></i></a></p>
                        {% endif %}
                    </div>
                </div>
                <hr>
            </div>
        </div>
    {% endfor %}

    <!-- Blog / Category (end) -->
{% endblock %}

{% block style %}
    {{ parent() }}
{% endblock %}

{% block script %}
    {{ parent() }}
{% endblock %}
