{% extends 'AxipiBlogBundle::base.html.twig' %}

{% block main %}
    <!-- Blog / Category -->
    <article id="category-{{ page.id }}" class="category-{{ page.id }} category type-category">
        <header class="entry-header">
            <h1 class="entry-title">{{ page.title }}</h1>
        </header>
        {% if page.attribute('description') %}
            <div class="entry-content">
                {{ convertText(page.attribute('description')|raw) }}
            </div>
        {% endif %}
    </article>

    {%for post in children %}
        <article id="post-{{ post.id }}" class="post-{{ post.id }} post type-post">
            <header class="entry-header">
                <h1 class="entry-title">
                    <a href="{{ buildLink(post) }}" rel="bookmark">{{ post.title }}</a>
                </h1>
                <div class="comments-link">
                    <a href="{{ buildLink(post) }}#respond"><span class="leave-reply">Leave a reply</span></a>
                </div>
            </header>
            <div class="entry-content">
                {% set content = post.attribute('description')|split('<p><!-- pagebreak --></p>') %}
                {{ convertText(content|first|raw) }}
                {% if content|length > 1 %}
                    <p> <a href="{{ buildLink(post) }}#more-{{ post.id }}" class="more-link">Continue reading <span class="meta-nav">→</span></a></p>
                {% endif %}
            </div>
            <footer class="entry-meta">
                This entry was posted in <a href="{{ buildLink(page) }}" rel="category tag">test</a> on <a href="{{ buildLink(post) }}" title="TODO" rel="bookmark"><time class="entry-date" datetime="TODO">TODO</time></a>
            </footer>
        </article>
    {% endfor %}

    <!-- Blog / Category (end) -->
{% endblock %}

{% block style %}
    {{ parent() }}
{% endblock %}

{% block script %}
    {{ parent() }}
{% endblock %}
