{% block form_row %}
{% spaceless %}
    {% if not compound -%}
        <p>
            {{ form_label(form) }}
            {{ form_errors(form) }}
            {{ form_widget(form) }}
        </p>
    {% else %}
        {{ form_widget(form) }}
    {% endif %}
{% endspaceless %}
{% endblock form_row %}

{% block button_row %}
    <p>
        {{ form_widget(form) }}
    </p>
{% endblock button_row %}
