{%- block button_widget -%}
    {%- if label is empty -%}
        {%- if label_format is not empty -%}
            {% set label = label_format|replace({
                '%name%': name,
                '%id%': id,
            }) %}
        {%- else -%}
            {% set label = name|humanize %}
        {%- endif -%}
    {%- endif -%}
    <button class="mdl-button mdl-color--pink mdl-color-text--white" type="{{ type|default('button') }}" {{ block('button_attributes') }}>{{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}</button>
{%- endblock button_widget -%}

{% block form_row %}
{% spaceless %}
    {% if not compound -%}
        <p>
            {{ form_label(form) }}
            {{ form_widget(form) }}
            {% if form.vars.attr['data-default'] is defined %}
                <em class="default">Default: {{ form.vars.attr['data-default'] }}</em>
            {% endif %}
            {{ form_errors(form) }}
        </p>
        {% if form.vars.name == 'longitude' %}
            <p>
                <a class="mdl-button mdl-color--pink mdl-color-text--white get_location" href="#">{{ 'actions.get_location'|trans({}, 'axipi_backend') }}</a>
            </p>
        {% endif %}
    {% else %}
        {{ form_widget(form) }}
    {% endif %}
{% endspaceless %}
{% endblock form_row %}

{% block button_row %}
    <p>
        {{ form_widget(form) }}
    </p>
{% endblock button_row %}

{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        {%- for error in errors -%}
            <div class="alert alert-danger" role="alert">
                <p>{{ error.message }}</p>
            </div>
        {%- endfor -%}
    {%- endif -%}
{%- endblock form_errors -%}
