{% extends 'AxipiBackendBundle::base.html.twig' %}

{% block title %}{{ 'home'|trans({}, 'axipi_backend') }}{% endblock %}

{% block body %}
    <div class="mdl-grid">
        {% embed 'AxipiBackendBundle::card.html.twig' with {id: 'dynamic-home'} %}
            {% block card__title %}
                <span><i class="fa fa-{{ 'icons.home'|trans({}, 'axipi_backend') }}"></i>{{ 'home'|trans({}, 'axipi_backend') }}</span>
            {% endblock %}
            {% block card__supporting %}
            {% endblock %}
        {% endembed %}
    </div>
{% endblock %}

{% block style %}
    {{ parent() }}
{% endblock %}

{% block script %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/axipibackend/js/home.js') }}"></script>
{% endblock %}
