{% extends 'AxipiBackendBundle::base.html.twig' %}

{% block title %}{{ 'info'|trans({}, 'axipi_backend') }}{% endblock %}

{% block body %}
    <div class="mdl-grid">
        {% embed 'AxipiBackendBundle::card.html.twig' %}
            {% block card__title %}
                <span><i class="fa fa-{{ 'icons.info'|trans({}, 'axipi_backend') }}"></i>{{ 'info_server'|trans({}, 'axipi_backend') }}</span>
            {% endblock %}
            {% block card__supporting %}
                <div class="mdl-cell mdl-cell--6-col">
                    {% if info._server.SERVER_ADDR is defined %}{{ macro.read_field('SERVER_ADDR', info._server.SERVER_ADDR) }}{% endif %}
                    {% if info._server.HTTP_HOST is defined %}{{ macro.read_field('HTTP_HOST', info._server.HTTP_HOST) }}{% endif %}
                    {% if info._server.SERVER_NAME is defined %}{{ macro.read_field('SERVER_NAME', info._server.SERVER_NAME) }}{% endif %}
                    {% if info._server.HTTPS is defined %}{{ macro.read_field('HTTPS', info._server.HTTPS) }}{% endif %}
                </div>
            {% endblock %}
        {% endembed %}

        {% embed 'AxipiBackendBundle::card.html.twig' %}
            {% block card__title %}
                <span><i class="fa fa-{{ 'icons.info'|trans({}, 'axipi_backend') }}"></i>{{ 'info_client'|trans({}, 'axipi_backend') }}</span>
            {% endblock %}
            {% block card__supporting %}
                <div class="mdl-cell mdl-cell--6-col">
                    {% if info._server.HTTP_X_CLUSTER_CLIENT_IP is defined %}{{ macro.read_field('HTTP_X_CLUSTER_CLIENT_IP', info._server.HTTP_X_CLUSTER_CLIENT_IP) }}{% endif %}
                    {% if info._server.HTTP_X_FORWARDED_FOR is defined %}{{ macro.read_field('HTTP_X_FORWARDED_FOR', info._server.HTTP_X_FORWARDED_FOR) }}{% endif %}
                    {% if info._server.HTTP_CLIENT_IP is defined %}{{ macro.read_field('HTTP_CLIENT_IP', info._server.HTTP_CLIENT_IP) }}{% endif %}
                    {% if info._server.REMOTE_ADDR is defined %}{{ macro.read_field('REMOTE_ADDR', info._server.REMOTE_ADDR) }}{% endif %}
                    {% if info._server.REMOTE_HOST is defined %}{{ macro.read_field('REMOTE_HOST', info._server.REMOTE_HOST) }}{% endif %}
                </div>
                <div class="mdl-cell mdl-cell--6-col">
                    {% if info._server.HTTP_USER_AGENT is defined %}{{ macro.read_field('HTTP_USER_AGENT', info._server.HTTP_USER_AGENT) }}{% endif %}
                    {% if info._server.HTTP_ACCEPT_LANGUAGE is defined %}{{ macro.read_field('HTTP_ACCEPT_LANGUAGE', info._server.HTTP_ACCEPT_LANGUAGE) }}{% endif %}
                </div>
            {% endblock %}
        {% endembed %}

        {% embed 'AxipiBackendBundle::card.html.twig' %}
            {% block card__title %}
                <span><i class="fa fa-{{ 'icons.info'|trans({}, 'axipi_backend') }}"></i>{{ 'info_database'|trans({}, 'axipi_backend') }}</span>
            {% endblock %}
            {% block card__supporting %}
                <div class="mdl-cell mdl-cell--6-col">
                    {% if info.connection.databasePlatform is defined %}{{ macro.read_field('databasePlatform.name', info.connection.databasePlatform.name) }}{% endif %}
                    {% if info.connection.driver is defined %}{{ macro.read_field('driver.name', info.connection.driver.name) }}{% endif %}
                </div>
                <div class="mdl-cell mdl-cell--6-col">
                    {% if info.connection.host is defined %}{{ macro.read_field('host', info.connection.host) }}{% endif %}
                    {% if info.connection.database is defined %}{{ macro.read_field('database', info.connection.database) }}{% endif %}
                    {% if info.connection.userName is defined %}{{ macro.read_field('userName', info.connection.userName) }}{% endif %}
                </div>
            {% endblock %}
        {% endembed %}

        {% embed 'AxipiBackendBundle::card.html.twig' %}
            {% block card__title %}
                <span><i class="fa fa-{{ 'icons.info'|trans({}, 'axipi_backend') }}"></i>{{ 'info_webserver'|trans({}, 'axipi_backend') }}</span>
            {% endblock %}
            {% block card__supporting %}
                <div class="mdl-cell mdl-cell--6-col">
                    {% if info._server.SERVER_SOFTWARE is defined %}{{ macro.read_field('SERVER_SOFTWARE', info._server.SERVER_SOFTWARE) }}{% endif %}
                    {% if info._server.DOCUMENT_ROOT is defined %}{{ macro.read_field('DOCUMENT_ROOT', info._server.DOCUMENT_ROOT) }}{% endif %}
                    {% if info._server.PHP_SELF is defined %}{{ macro.read_field('PHP_SELF', info._server.PHP_SELF) }}{% endif %}
                    {% if info._server.SCRIPT_FILENAME is defined %}{{ macro.read_field('SCRIPT_FILENAME', info._server.SCRIPT_FILENAME) }}{% endif %}
                </div>
            {% endblock %}
        {% endembed %}

        {% embed 'AxipiBackendBundle::card.html.twig' %}
            {% block card__title %}
                <span><i class="fa fa-{{ 'icons.info'|trans({}, 'axipi_backend') }}"></i>{{ 'info_language'|trans({}, 'axipi_backend') }}</span>
            {% endblock %}
            {% block card__supporting %}
                <div class="mdl-cell mdl-cell--6-col">
                    {% if info.symfony is defined %}{{ macro.read_field('Symfony', info.symfony) }}{% endif %}
                    {% if info.function.phpversion is defined %}{{ macro.read_field('phpversion', info.function.phpversion) }}{% endif %}
                    {% if info.function.php_sapi_name is defined %}{{ macro.read_field('php_sapi_name', info.function.php_sapi_name) }}{% endif %}
                    {% if info.function.get_current_user is defined %}{{ macro.read_field('get_current_user', info.function.get_current_user) }}{% endif %}
                    {% if info.ini_get.session_save_handler is defined %}{{ macro.read_field('session.save_handler', info.ini_get.session_save_handler) }}{% endif %}
                    {% if info.function.session_name is defined %}{{ macro.read_field('session_name', info.function.session_name) }}{% endif %}
                    {% if info.function.session_id is defined %}{{ macro.read_field('session_id', info.function.session_id) }}{% endif %}
                </div>
                <div class="mdl-cell mdl-cell--6-col">
                    {% if info.ini_get.file_uploads is defined %}{{ macro.read_field('file_uploads', info.ini_get.file_uploads) }}{% endif %}
                    {% if info.ini_get.upload_tmp_dir is defined %}{{ macro.read_field('upload_tmp_dir', info.ini_get.upload_tmp_dir) }}{% endif %}
                    {% if info.ini_get.upload_max_filesize is defined %}{{ macro.read_field('upload_max_filesize', info.ini_get.upload_max_filesize) }}{% endif %}
                    {% if info.ini_get.post_max_size is defined %}{{ macro.read_field('post_max_size', info.ini_get.post_max_size) }}{% endif %}
                    {% if info.ini_get.memory_limit is defined %}{{ macro.read_field('memory_limit', info.ini_get.memory_limit) }}{% endif %}
                </div>
            {% endblock %}
        {% endembed %}
    </div>
{% endblock %}

{% block style %}
    {{ parent() }}
{% endblock %}

{% block script %}
    {{ parent() }}
{% endblock %}
