{% extends 'AxipiBackendBundle::base.html.twig' %}

{% block title %}{{ 'login'|trans({}, 'axipi_backend') }}{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    <p>{{ error.message }}</p>
                </div>
            {% endif %}

            {% embed 'AxipiBackendBundle::block_title.html.twig' %}
                {% block block_title %}
                    <span><i class="fa fa-{{ 'icons.login'|trans({}, 'axipi_backend') }}"></i>{{ 'login'|trans({}, 'axipi_backend') }}</span>
                {% endblock %}
                {% block block_title_actions %}
                    <li><a href="#"><i class="fa fa-{{ 'icons.forgot_password'|trans({}, 'axipi_backend') }}"></i>{{ 'forgot_password'|trans({}, 'axipi_backend') }}</a></li>
                {% endblock %}
            {% endembed %}

            <div class="block">
                <form action="{{ path('axipi_backend_login_check') }}" method="post">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <p>
                        <label for="username" class="required">{{ 'user.username'|trans({}, 'axipi_backend') }}</label>
                        <input type="text" id="username" name="username" required="required">
                    </p>
                    <p>
                        <label for="password" class="required">{{ 'user.password'|trans({}, 'axipi_backend') }}</label>
                        <input type="password" id="password" name="password" required="required">
                    </p>
                    <p>
                        <button type="submit" id="login_submit" name="login_submit">{{ 'actions.submit'|trans({}, 'axipi_backend') }}</button>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block style %}
    {{ parent() }}
{% endblock %}

{% block script %}
    {{ parent() }}
{% endblock %}
