{% extends 'AxipiContactBundle::base.html.twig' %}

{% block main %}
    <!-- Blog / Post -->
    <article id="post-{{ page.id }}" class="post-{{ page.id }} page type-page">
        <header class="entry-header">
            <h1 class="entry-title">{{ page.title }}</h1>
        </header>

        <div class="entry-content">
            {{ convertText(page.attribute('description')|raw) }}
        </div>
    </article>

    <div id="comments" class="comments-area">
        <div id="respond" class="comment-respond">
            <h3 id="reply-title" class="comment-reply-title">Leave a Message</h3>
            {{ form_start(form) }}
                {{ form_row(form.message) }}
                {{ form_row(form.author) }}
                {{ form_row(form.email) }}
                {{ form_row(form.recaptcha) }}
                {{ form_row(form.submit) }}
            {{ form_end(form) }}
        </div>
    </div>
    <!-- Blog / Post (end) -->
{% endblock %}

{% block meta %}
    {{ parent() }}
    {{ page.meta|raw }}
{% endblock %}

{% block style %}
    {{ parent() }}
    {{ page.style|raw }}
{% endblock %}

{% block script %}
    {{ parent() }}
    {{ page.script|raw }}
    <script type="text/javascript" src="https://www.google.com/recaptcha/api.js?hl={{ app.request.locale }}"></script>
{% endblock %}
