{% extends 'AxipiBackendBundle::base.html.twig' %}

{% block title %}{{ 'files'|trans({}, 'axipi_backend') }}{% endblock %}

{% block header %}
    {% if 'wysiwyg' in mode %}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block body %}
    {% embed 'AxipiBackendBundle::card.html.twig' with {no_title: true, toggle: true, id: 'files-create'} %}
        {% block card__actions %}
            <a class="mdl-button mdl-color--pink mdl-color-text--white toggle" href="#files-create">{{ 'actions.close'|trans({}, 'axipi_backend') }}</a>
        {% endblock %}
        {% block card__supporting %}
            <div class="mdl-cell mdl-cell--2-col">
                <a href="{{ path('axipi_backend_file', {mode: mode, action: 'create', id: 'folder'}) }}"><i class="fa fa-3x fa-folder-o"></i><br>{{ 'folder'|trans({}, 'axipi_backend') }}</a>
            </div>
            <div class="mdl-cell mdl-cell--2-col">
                <a href="{{ path('axipi_backend_file', {mode: mode, action: 'create', id: 'file'}) }}"><i class="fa fa-3x fa-file-o"></i><br>{{ 'file'|trans({}, 'axipi_backend') }}</a>
            </div>
        {% endblock %}
    {% endembed %}

    {% embed 'AxipiBackendBundle::card.html.twig' with {id: 'ajax-upload-result'} %}
        {% block card__actions %}
            <a class="mdl-button mdl-color--pink mdl-color-text--white toggle" href="#files-create">{{ 'actions.create'|trans({}, 'axipi_backend') }}</a>
        {% endblock %}
        {% block card__title %}
            {% for tree in tree %}
                {% if tree.slug != slug %}
                    <span><a class="mdl-color-text--pink" href="{{ path('axipi_backend_file', {mode: mode, action: 'index', 'slug': tree.slug}) }}"><i class="fa fa-{{ tree.icon }}"></i>{{ tree.name }}</a></span>
                {% else %}
                    <span><i class="fa fa-{{ tree.icon }}"></i>{{ tree.name }}</span>
                {% endif %}
            {% endfor %}
        {% endblock %}
        {% block card__supporting %}
            {% for object in objects %}
                <div class="mdl-cell mdl-cell--2-col">
                    {% if object.type == 'folder' %}
                        <a href="{{ path('axipi_backend_file', {mode: mode, action: 'index', slug: object.slug}) }}"><i class="fa fa-3x fa-{{ object.icon }}"></i><br>{{ object.name }}</a>
                    {% else %}
                        {% if 'image/' in object.mime %}
                            <a{% if 'wysiwyg' in mode %} class="wysiwyg_image"{% endif %} {% if 'wysiwyg' in mode %}data-field_name="{{ mode|replace({'wysiwyg': ''}) }}" {% endif %}href="{{ path('axipi_backend_file', {mode: mode, action: 'read', slug: object.slug}) }}"><img alt="" src="{{ asset('files/' ~ object.slug) }}"><br>{{ object.name }}</a>
                        {% else %}
                            <a href="{{ path('axipi_backend_file', {mode: mode, action: 'read', slug: object.slug}) }}"><i class="fa fa-3x fa-{{ object.icon }}"></i><br>{{ object.name }}</a>
                        {% endif %}
                    {% endif %}
                </div>
            {% endfor %}
        {% endblock %}
    {% endembed %}

    {% embed 'AxipiBackendBundle::card.html.twig' %}
        {% block card__title %}
            <span><i class="fa fa-download"></i>{{ 'drag_drop'|trans({}, 'axipi_backend') }} <small>Drop file(s) over icon</small></span>
        {% endblock %}
        {% block card__supporting %}
            <div class="mdl-cell mdl-cell--2-col" data-url="{{ path('axipi_backend_file', {action: 'upload', 'slug': slug}) }}" id="ajax-uploader">
                <a class="fileinput-button attachment-upload" href="#"><i class="fa fa-3x fa-files-o"></i><br>Files</a>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block style %}
    {{ parent() }}
{% endblock %}

{% block script %}
    {{ parent() }}
{% endblock %}
