{% extends 'AxipiBackendBundle::base.html.twig' %}

{% block title %}{{ widget_page.widget.title }} - {{ 'widgets'|trans({}, 'axipi_backend') }}{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            {% embed 'AxipiBackendBundle::block_title.html.twig' %}
                {% block block_title %}
                    <span><a href="{{ path('axipi_backend_widget', {action: 'index'}) }}"><i class="fa fa-{{ 'icons.widget'|trans({}, 'axipi_backend') }}"></i>{{ 'widgets'|trans({}, 'axipi_backend') }}</a></span>
                    <span><a href="{{ path('axipi_backend_widget', {action: 'read', 'id': widget_page.widget.id}) }}"><i class="fa fa-{{ 'icons.widget'|trans({}, 'axipi_backend') }}"></i>{{ widget_page.widget.title }}</a></span>
                    <span><i class="fa fa-{{ 'icons.page'|trans({}, 'axipi_backend') }}"></i>{{ widget_page.page.title }}</span>
                {% endblock %}
                {% block block_title_actions %}
                    <li><a href="{{ path('axipi_backend_widget_page', {action: 'update', 'id': widget_page.id}) }}"><i class="fa fa-{{ 'icons.update'|trans({}, 'axipi_backend') }}"></i>{{ 'actions.update'|trans({}, 'axipi_backend') }}</a></li>
                    <li><a href="{{ path('axipi_backend_widget_page', {action: 'delete', 'id': widget_page.id}) }}"><i class="fa fa-trash"></i>{{ 'actions.delete'|trans({}, 'axipi_backend') }}</a></li>
                {% endblock %}
            {% endembed %}

            <div class="block">
                <div class="row">
                    <div class="col-lg-4">
                        {{ macro.read_field('widget_page.page'|trans({}, 'axipi_backend'), widget_page.page.title) }}
                        {{ macro.read_field('widget_page.title'|trans({}, 'axipi_backend'), widget_page.title) }}
                        {{ macro.read_field('widget_page.ordering'|trans({}, 'axipi_backend'), widget_page.ordering) }}
                    </div>
                    <div class="col-lg-4">
                        {{ macro.read_field('widget_page.isActive'|trans({}, 'axipi_backend'), widget_page.isActive) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block style %}
    {{ parent() }}
{% endblock %}

{% block script %}
    {{ parent() }}
{% endblock %}
