<!-- Facebook / Page Plugin -->
<div id="widget-{{ widget.code }}" class="{{ widget.attribute('div_class')|default('col-lg-4') }}">
<iframe src="https://www.facebook.com/plugins/page.php?href={{ widget.attribute('href') }}&tabs={{ widget.attribute('tabs')|default('timeline') }}&width={{ widget.attribute('width') }}&height={{ widget.attribute('height')|default(500) }}&small_header={{ widget.attribute('small_header')|default('false') }}&adapt_container_width={{ widget.attribute('adapt_container_width')|default('true') }}&hide_cover={{ widget.attribute('hide_cover')|default('false') }}&show_facepile={{ widget.attribute('show_facepile')|default('true') }}&appId={{ widget.attribute('appId') }}" width="100%" height="{{ widget.attribute('height')|default(400) }}" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
</div>
<!-- Facebook / Page Plugin (end) -->
