{% extends 'AxipiBackendBundle:MaterialDesignLite:base.html.twig' %}

{% block title %}{{ 'components'|trans({}, 'axipi_backend') }}{% endblock %}

{% block body %}
    <div class="mdl-grid">
        <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col">
            <div class="mdl-card__title">
                <h1 class="mdl-card__title-text">
                    <span><i class="fa fa-{{ 'icons.component'|trans({}, 'axipi_backend') }}"></i>{{ 'components'|trans({}, 'axipi_backend') }}</span>
                </h1>
            </div>
            <div class="mdl-card__actions mdl-card--border mdl-color-text--black">
                <a class="mdl-button mdl-color--pink mdl-color-text--white toggle" href="#components-create">{{ 'actions.create'|trans({}, 'axipi_backend') }}</a>
            </div>
        </div>

        <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col toggle" id="components-create">
            <div class="mdl-card__supporting-text mdl-grid">
                <div class="mdl-cell mdl-cell--2-col">
                    <a href="{{ path('axipi_backend_components', {action: 'create', id: 'page'}) }}"><i class="fa fa-4x fa-{{ 'icons.page'|trans({}, 'axipi_backend') }}"></i><br>{{ 'category.page'|trans({}, 'axipi_backend') }}</a>
                </div>
                <div class="mdl-cell mdl-cell--2-col">
                    <a href="{{ path('axipi_backend_components', {action: 'create', id: 'widget'}) }}"><i class="fa fa-4x fa-{{ 'icons.widget'|trans({}, 'axipi_backend') }}"></i><br>{{ 'category.widget'|trans({}, 'axipi_backend') }}</a>
                </div>
            </div>
        </div>

        <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col">
            <div class="mdl-card__title">
                <h1 class="mdl-card__title-text">
                    <span><i class="fa fa-{{ 'icons.page'|trans({}, 'axipi_backend') }}"></i>{{ 'category.page'|trans({}, 'axipi_backend') }}</span>
                </h1>
            </div>
            <div class="mdl-card__supporting-text mdl-grid">
                {% for object in pages %}
                    <div class="mdl-cell mdl-cell--2-col">
                        <a href="{{ path('axipi_backend_components', {action: 'read', id: object.id}) }}"><i class="fa fa-4x fa-{{ object.icon }}"></i><br>{{ object.title }}</a>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col">
            <div class="mdl-card__title">
                <h1 class="mdl-card__title-text">
                    <span><i class="fa fa-{{ 'icons.widget'|trans({}, 'axipi_backend') }}"></i>{{ 'category.widget'|trans({}, 'axipi_backend') }}</span>
                </h1>
            </div>
            <div class="mdl-card__supporting-text mdl-grid">
                {% for object in widgets %}
                    <div class="mdl-cell mdl-cell--2-col">
                        <a href="{{ path('axipi_backend_components', {action: 'read', id: object.id}) }}"><i class="fa fa-4x fa-{{ object.icon }}"></i><br>{{ object.title }}</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block style %}
    {{ parent() }}
{% endblock %}

{% block script %}
    {{ parent() }}
{% endblock %}
