{% extends 'AxipiBackendBundle:Bootstrap:base.html.twig' %}

{% block title %}{{ component.title }} - {{ 'components'|trans({}, 'axipi_backend') }}{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            {% embed 'AxipiBackendBundle:Bootstrap:block_title.html.twig' %}
                {% block block_title %}
                    <span><a href="{{ path('axipi_backend_components', {action: 'index'}) }}"><i class="fa fa-{{ 'icons.component'|trans({}, 'axipi_backend') }}"></i>{{ 'components'|trans({}, 'axipi_backend') }}</a></span>
                    {% if component.parent %}
                        {% if component.parent.parent %}
                            <span><a href="{{ path('axipi_backend_components', {action: 'read', id: component.parent.parent.id}) }}"><i class="fa fa-{{ component.parent.parent.icon }}"></i>{{ component.parent.parent.title }}</a></span>
                        {% endif %}
                        <span><a href="{{ path('axipi_backend_components', {action: 'read', id: component.parent.id}) }}"><i class="fa fa-{{ component.parent.icon }}"></i>{{ component.parent.title }}</a></span>
                    {% endif %}
                    <span><i class="fa fa-{{ component.icon }}"></i>{{ component.title }}</span>
                {% endblock %}
                {% block block_title_actions %}
                    <li><a href="{{ path('axipi_backend_components', {action: 'update', 'id': component.id}) }}"><i class="fa fa-{{ 'icons.update'|trans({}, 'axipi_backend') }}"></i>{{ 'actions.update'|trans({}, 'axipi_backend') }}</a></li>
                    <li><a href="{{ path('axipi_backend_components', {action: 'delete', 'id': component.id}) }}"><i class="fa fa-{{ 'icons.delete'|trans({}, 'axipi_backend') }}"></i>{{ 'actions.delete'|trans({}, 'axipi_backend') }}</a></li>
                {% endblock %}
            {% endembed %}

            <div class="block">
                <div class="row">
                    <div class="col-lg-4">
                        {{ macro.read_field('component.category'|trans({}, 'axipi_backend'), component.category) }}
                        {{ macro.read_field('component.service'|trans({}, 'axipi_backend'), component.service) }}
                        {{ macro.read_field('component.template'|trans({}, 'axipi_backend'), component.template) }}
                        {{ macro.read_field('component.title'|trans({}, 'axipi_backend'), component.title) }}
                        {% if component.zone %}{{ macro.read_field('component.zone'|trans({}, 'axipi_backend'), component.zone.code) }}{% endif %}
                        {% if component.parent %}{{ macro.read_field('component.parent'|trans({}, 'axipi_backend'), component.parent.title) }}{% endif %}
                        {{ macro.read_field('component.icon'|trans({}, 'axipi_backend'), component.icon) }}
                    </div>
                    <div class="col-lg-8">
                        {{ macro.read_field('component.isUnique'|trans({}, 'axipi_backend'), component.isUnique) }}
                        {{ macro.read_field('component.isHome'|trans({}, 'axipi_backend'), component.isHome) }}
                        {{ macro.read_field('component.excludeSitemap'|trans({}, 'axipi_backend'), component.excludeSitemap) }}
                        {{ macro.read_field('component.excludeSearch'|trans({}, 'axipi_backend'), component.excludeSearch) }}
                        {{ macro.read_field('component.isActive'|trans({}, 'axipi_backend'), component.isActive) }}
                        {% set attributes = component.attributesSchema|jsonDecode %}
                        {% for k, v in attributes %}
                            {{ macro.read_field(k, v.type) }}
                        {% endfor %}
                    </div>
                </div>
            </div>

            {% if component.children|length %}
                {% embed 'AxipiBackendBundle:Bootstrap:block_title.html.twig' %}
                    {% block block_title %}
                        <span><i class="fa fa-{{ 'icons.component'|trans({}, 'axipi_backend') }}"></i>{{ 'component.children'|trans({}, 'axipi_backend') }}</span>
                    {% endblock %}
                    {% block block_title_actions %}
                    {% endblock %}
                {% endembed %}

                <div class="block">
                    <div class="row">
                        {% for object in component.children %}
                            <div class="col-lg-2 col-sm-3 col-xs-6 text-center">
                                <a class="thumbnail" href="{{ path('axipi_backend_components', {action: 'read', id: object.id}) }}"><i class="fa fa-4x fa-{{ object.icon }}"></i><br>{{ object.title }}</a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block style %}
    {{ parent() }}
{% endblock %}

{% block script %}
    {{ parent() }}
{% endblock %}
