{% extends 'AxipiBackendBundle::base.html.twig' %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            {% embed 'AxipiBackendBundle::block_title.html.twig' %}
                {% block block_title %}
                    <span><i class="fa fa-cube"></i>Type {{ page.id }}</span>
                {% endblock %}
                {% block block_title_actions %}
                    <li><a href="{{ path('axipi_backend_page', {action: 'update', 'id': page.id}) }}"><i class="fa fa-wrench"></i>Update</a></li>
                {% endblock %}
            {% endembed %}

            <div class="block">
                {{ form_start(form) }}
                {{ form_errors(form) }}
                <div class="row">
                    <div class="col-lg-4">
                        {{ form_row(form.confirm) }}
                        {{ form_row(form.save) }}
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block style %}
    {{ parent() }}
{% endblock %}

{% block script %}
    {{ parent() }}
{% endblock %}
