{% extends 'AxipiBackendBundle::base.html.twig' %}

{% import '@AxipiBackend/Page/macro.html.twig' as helper %}

{% block title %}{{ page.title }} - {{ 'pages'|trans({}, 'axipi_backend') }}{% endblock %}

{% block body %}
    <div class="mdl-tabs">
        <div class="mdl-tabs__tab-bar">
            {% for language in languages %}
                <a href="{{ path('axipi_backend_pages', {mode: mode, language: language.code, action: 'index'}) }}" class="mdl-tabs__tab{% if app.request.get('language') == language.code %} is-active{% endif %}">{{ language.title }}</a>
            {% endfor %}
        </div>
    </div>

    {% embed 'AxipiBackendBundle::card.html.twig' with {form: form} %}
        {% block card__actions %}
            <a class="mdl-button mdl-color--pink mdl-color-text--white" href="{{ path('axipi_backend_pages', {language: app.request.get('language'), action: 'update', 'id': page.id}) }}">{{ 'actions.update'|trans({}, 'axipi_backend') }}</a>
        {% endblock %}
        {% block card__title %}
            <span><a class="mdl-color-text--pink" href="{{ path('axipi_backend_pages', {mode: mode, language: app.request.get('language'), action: 'index'}) }}"><i class="fa fa-{{ 'icons.page'|trans({}, 'axipi_backend') }}"></i>{{ 'pages'|trans({}, 'axipi_backend') }}</a></span>
            {% if page.parent %}
                {{ helper.path_loop(page.parent, mode, app.request.get('language')) }}
            {% endif %}
            <span><a class="mdl-color-text--pink" href="{{ path('axipi_backend_pages', {language: app.request.get('language'), action: 'read', 'id': page.id}) }}">{{ page.title }}</a></span>
        {% endblock %}
        {% block card__supporting %}
            <div class="mdl-cell mdl-cell--4-col">
                {{ form_row(form.confirm) }}
                {{ form_row(form.submit) }}
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block style %}
    {{ parent() }}
{% endblock %}

{% block script %}
    {{ parent() }}
{% endblock %}
