{% extends 'AxipiBackendBundle::base.html.twig' %}

{% block title %}{{ 'pages'|trans({}, 'axipi_backend') }} ({{ app.request.get('language') }}){% endblock %}

{% block header %}
    {% if 'wysiwyg' in mode %}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block body %}
    <div class="mdl-tabs">
        <div class="mdl-tabs__tab-bar">
            {% for language in languages %}
                <a href="{{ path('axipi_backend_pages', {mode: mode, language: language.code, action: 'index'}) }}" class="mdl-tabs__tab{% if app.request.get('language') == language.code %} is-active{% endif %}">{{ language.title }}</a>
            {% endfor %}
        </div>
    </div>

    {% embed 'AxipiBackendBundle::card.html.twig' with {no_title: true, toggle: true, id: 'pages-create'} %}
        {% block card__actions %}
            <a class="mdl-button mdl-color--pink mdl-color-text--white toggle" href="#pages-create">{{ 'actions.close'|trans({}, 'axipi_backend') }}</a>
        {% endblock %}
        {% block card__supporting %}
            {% for component in components %}
                <div class="mdl-cell mdl-cell--2-col">
                    <a href="{{ path('axipi_backend_pages', {language: app.request.get('language'), action: 'create', id: component.id}) }}"><i class="fa fa-3x fa-{{ component.icon }}"></i><br>{{ component.title }}</a>
                </div>
            {% endfor %}
        {% endblock %}
    {% endembed %}

    {% embed 'AxipiBackendBundle::card.html.twig' %}
        {% block card__actions %}
            <a class="mdl-button mdl-color--pink mdl-color-text--white toggle" href="#pages-create">{{ 'actions.create'|trans({}, 'axipi_backend') }}</a>
        {% endblock %}
        {% block card__title %}
            <span><i class="fa fa-{{ 'icons.page'|trans({}, 'axipi_backend') }}"></i>{{ 'pages'|trans({}, 'axipi_backend') }}</span>
        {% endblock %}
    {% endembed %}

    {% embed 'AxipiBackendBundle::card.html.twig' %}
        {% block card__title %}
            <span><i class="fa fa-{{ 'icons.parent_null'|trans({}, 'axipi_backend') }}"></i>{{ 'parent_null'|trans({}, 'axipi_backend') }}</span>
        {% endblock %}
        {% block card__supporting %}
            {% for object in parent_null %}
                <div class="mdl-cell mdl-cell--2-col">
                    <a href="{{ path('axipi_backend_pages', {mode: mode, language: app.request.get('language'), action: 'read', id: object.id}) }}"><i class="fa fa-3x fa-{{ object.component.icon }}"></i><br>{{ object.title }}</a>
                </div>
            {% endfor %}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block style %}
    {{ parent() }}
{% endblock %}

{% block script %}
    {{ parent() }}
{% endblock %}
