{% extends 'AxipiBackendBundle::base.html.twig' %}

{% block title %}{{ page.title }} - {{ 'pages'|trans({}, 'axipi_backend') }}{% endblock %}

{% block navbar %}
    {% if 'wysiwyg' in mode %}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <ul class="nav nav-tabs">
                {% for language in languages %}
                    <li role="presentation"{% if app.request.get('language') == language.code %} class="active"{% endif %}><a href="{{ path('axipi_backend_pages', {mode: mode, language: language.code, action: 'index'}) }}">{{ language.title }}</a></li>
                {% endfor %}
            </ul>

            {% embed 'AxipiBackendBundle::block_title.html.twig' %}
                {% block block_title %}
                    <span><a href="{{ path('axipi_backend_pages', {mode: mode, language: app.request.get('language'), action: 'index'}) }}"><i class="fa fa-{{ 'icons.top_level'|trans({}, 'axipi_backend') }}"></i>{{ 'top_level'|trans({}, 'axipi_backend') }}</a></span>
                    {% if page.parent %}
                        {% if page.parent.parent %}
                            {% if page.parent.parent.parent %}
                                <span><a href="{{ path('axipi_backend_pages', {mode: mode, language: app.request.get('language'), action: 'read', id: page.parent.parent.parent.id}) }}"><i class="fa fa-{{ page.parent.parent.parent.component.icon }}"></i>{{ page.parent.parent.parent.title }}</a></span>
                            {% endif %}
                            <span><a href="{{ path('axipi_backend_pages', {mode: mode, language: app.request.get('language'), action: 'read', id: page.parent.parent.id}) }}"><i class="fa fa-{{ page.parent.parent.component.icon }}"></i>{{ page.parent.parent.title }}</a></span>
                        {% endif %}
                        <span><a href="{{ path('axipi_backend_pages', {mode: mode, language: app.request.get('language'), action: 'read', id: page.parent.id}) }}"><i class="fa fa-{{ page.parent.component.icon }}"></i>{{ page.parent.title }}</a></span>
                    {% endif %}
                    <span><i class="fa fa-{{ page.component.icon }}"></i>{{ page.title }}</span>
                {% endblock %}
                {% block block_title_actions %}
                    {% if 'wysiwyg' in mode %}
                        <li><a class="wysiwyg_link" data-field_name="{{ mode|replace({'wysiwyg': ''}) }}" href="[page:{{ page.id}}:{{ page.slug }}]"><i class="fa fa-{{ 'icons.select'|trans({}, 'axipi_backend') }}"></i>{{ 'actions.select'|trans({}, 'axipi_backend') }}</a></li>
                    {% else %}
                        <li><a href="{{ path('axipi_core_slug', {'slug': page.slug}) }}" target="_blank"><i class="fa fa-{{ 'icons.frontend'|trans({}, 'axipi_backend') }}"></i>{{ 'frontend'|trans({}, 'axipi_backend') }}</a></li>
                        <li><a href="{{ path('axipi_backend_pages', {mode: mode, language: app.request.get('language'), action: 'update', 'id': page.id}) }}"><i class="fa fa-{{ 'icons.update'|trans({}, 'axipi_backend') }}"></i>{{ 'actions.update'|trans({}, 'axipi_backend') }}</a></li>
                        <li><a href="{{ path('axipi_backend_pages', {mode: mode, language: app.request.get('language'), action: 'delete', 'id': page.id}) }}"><i class="fa fa-{{ 'icons.delete'|trans({}, 'axipi_backend') }}"></i>{{ 'actions.delete'|trans({}, 'axipi_backend') }}</a></li>
                    {% endif %}
                {% endblock %}
            {% endembed %}

            <div class="block">
                <div class="row">
                    <div class="col-lg-4">
                        {{ macro.read_field('item.language'|trans({}, 'axipi_backend'), page.language.title) }}
                        {{ macro.read_field('item.component'|trans({}, 'axipi_backend'), page.component.title) }}
                        {% if page.parent %}{{ macro.read_field('item.parent'|trans({}, 'axipi_backend'), page.parent.title) }}{% endif %}
                        {{ macro.read_field('item.code'|trans({}, 'axipi_backend'), page.code) }}
                        {{ macro.read_field('item.template'|trans({}, 'axipi_backend'), page.template) }}
                        {{ macro.read_field('item.title'|trans({}, 'axipi_backend'), page.title) }}
                        {{ macro.read_field('item.slug'|trans({}, 'axipi_backend'), page.slug) }}
                        {{ macro.read_field('item.titleSeo'|trans({}, 'axipi_backend'), page.titleSeo) }}
                        {{ macro.read_field('item.descriptionSeo'|trans({}, 'axipi_backend'), page.descriptionSeo) }}
                        {{ macro.read_field('item.titleSocial'|trans({}, 'axipi_backend'), page.titleSocial) }}
                        {{ macro.read_field('item.descriptionSocial'|trans({}, 'axipi_backend'), page.descriptionSocial) }}
                        {%if page.meta %}{{ macro.read_field('item.meta'|trans({}, 'axipi_backend'), true) }}{% endif %}
                        {%if page.style %}{{ macro.read_field('item.style'|trans({}, 'axipi_backend'), true) }}{% endif %}
                        {%if page.script %}{{ macro.read_field('item.script'|trans({}, 'axipi_backend'), true) }}{% endif %}
                        {{ macro.read_field('item.excludeSitemap'|trans({}, 'axipi_backend'), page.excludeSitemap) }}
                        {{ macro.read_field('item.excludeSearch'|trans({}, 'axipi_backend'), page.excludeSearch) }}
                        {{ macro.read_field('item.isActive'|trans({}, 'axipi_backend'), page.isActive) }}
                    </div>
                    <div class="col-lg-8">
                        {% set attributes = page.component.attributesSchema|jsonDecode %}
                        {% for k, v in attributes %}
                            {{ macro.read_field(k, page.attribute(k)) }}
                        {% endfor %}
                    </div>
                </div>
            </div>

            {% embed 'AxipiBackendBundle::block_title.html.twig' %}
                {% block block_title %}
                    <span><i class="fa fa-{{ 'icons.page'|trans({}, 'axipi_backend') }}"></i>{{ 'item.children'|trans({}, 'axipi_backend') }}</span>
                {% endblock %}
                {% block block_title_actions %}
                    <li><a role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="true" aria-controls="collapseExample"><i class="fa fa-{{ 'icons.create'|trans({}, 'axipi_backend') }}"></i>{{ 'actions.create'|trans({}, 'axipi_backend') }}</a></li>
                {% endblock %}
            {% endembed %}

            <div class="block collapse" id="collapseExample">
                <div class="row">
                    {% for component in components %}
                        <div class="col-lg-2 col-sm-3 col-xs-6 text-center">
                            <a class="thumbnail" href="{{ path('axipi_backend_pages', {mode: mode, language: app.request.get('language'), action: 'create', id: component.id, parent: page.id}) }}"><i class="fa fa-4x fa-{{ component.icon }}"></i><br>{{ component.title }}</a>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="block">
                <div class="row" id="ajax-upload-result">
                    {% if page.children|length %}
                        {% for object in page.children if object.component.category == 'page' %}
                            <div class="col-lg-2 col-sm-3 col-xs-6 text-center">
                                <a class="thumbnail" href="{{ path('axipi_backend_pages', {mode: mode, language: app.request.get('language'), action: 'read', id: object.id}) }}"><i class="fa fa-4x fa-{{ object.component.icon }}"></i><br>{{ object.title }}</a>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>

            {% embed 'AxipiBackendBundle::block_title.html.twig' %}
                {% block block_title %}
                    <span><i class="fa fa-download"></i>{{ 'drag_drop'|trans({}, 'axipi_backend') }} <small>Drop file(s) over icon</small></span>
                {% endblock %}
                {% block block_title_actions %}
                {% endblock %}
            {% endembed %}

            <div class="block">
                <div class="row">
                    {% if page.component.id == 5 %}
                        <div class="col-lg-2 col-sm-3 col-xs-6 text-center" data-url="{{ path('axipi_backend_pages', {mode: mode, language: app.request.get('language'), action: 'upload'}) }}" id="ajax-uploader" data-parent="{{ page.id }}" data-component="6">
                            <a class="thumbnail fileinput-button attachment-upload" href="#">
                                <i class="fa fa-4x fa-picture-o"></i><br>Gallery / Media
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block style %}
    {{ parent() }}
{% endblock %}

{% block script %}
    {{ parent() }}
{% endblock %}
