{% extends 'AxipiBackendBundle::base.html.twig' %}

{% block title %}{{ page.title }} - {{ 'pages'|trans({}, 'axipi_backend') }}{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <ul class="nav nav-tabs">
                {% for language in languages %}
                    <li role="presentation"{% if app.request.get('language') == language.code %} class="active"{% endif %}><a href="{{ path('axipi_backend_pages', {language: language.code, action: 'index'}) }}">{{ language.title }}</a></li>
                {% endfor %}
            </ul>

            {% embed 'AxipiBackendBundle::block_title.html.twig' %}
                {% block block_title %}
                    <span><a href="{{ path('axipi_backend_pages', {language: app.request.get('language'), action: 'index'}) }}"><i class="fa fa-{{ 'icons.top_level'|trans({}, 'axipi_backend') }}"></i>{{ 'top_level'|trans({}, 'axipi_backend') }}</a></span>
                    {% if page.parent %}
                        {% if page.parent.parent %}
                            {% if page.parent.parent.parent %}
                                <span><a href="{{ path('axipi_backend_pages', {mode: mode, language: app.request.get('language'), action: 'read', id: page.parent.parent.parent.id}) }}"><i class="fa fa-{{ page.parent.parent.parent.component.icon }}"></i>{{ page.parent.parent.parent.title }}</a></span>
                            {% endif %}
                            <span><a href="{{ path('axipi_backend_pages', {mode: mode, language: app.request.get('language'), action: 'read', id: page.parent.parent.id}) }}"><i class="fa fa-{{ page.parent.parent.component.icon }}"></i>{{ page.parent.parent.title }}</a></span>
                        {% endif %}
                        <span><a href="{{ path('axipi_backend_pages', {mode: mode, language: app.request.get('language'), action: 'read', id: page.parent.id}) }}"><i class="fa fa-{{ page.parent.component.icon }}"></i>{{ page.parent.title }}</a></span>
                    {% endif %}
                    <span><a href="{{ path('axipi_backend_pages', {language: app.request.get('language'), action: 'read', 'id': page.id}) }}"><i class="fa fa-{{ page.component.icon }}"></i>{{ page.title }}</a></span>
                    <span><i class="fa fa-{{ 'icons.update'|trans({}, 'axipi_backend') }}"></i>{{ 'actions.update'|trans({}, 'axipi_backend') }}</span>
                {% endblock %}
                {% block block_title_actions %}
                    <li><a href="{{ path('axipi_backend_pages', {language: app.request.get('language'), action: 'delete', 'id': page.id}) }}"><i class="fa fa-trash"></i>{{ 'actions.delete'|trans({}, 'axipi_backend') }}</a></li>
                {% endblock %}
            {% endembed %}

            <div class="block">
                {{ form_start(form) }}
                {{ form_errors(form) }}
                <div class="row">
                    <div class="col-lg-4">
                        {{ macro.read_field('item.language'|trans({}, 'axipi_backend'), page.language.title) }}
                        {{ macro.read_field('item.component'|trans({}, 'axipi_backend'), page.component.title) }}
                        {{ form_row(form.template) }}
                        {{ form_row(form.parent) }}
                        {{ form_row(form.code) }}
                        {{ form_row(form.title) }}
                        {{ form_row(form.slug) }}
                    </div>
                    <div class="col-lg-4">
                        {{ form_row(form.titleSeo) }}
                        {{ form_row(form.descriptionSeo) }}
                        {{ form_row(form.metaRobots) }}
                    </div>
                    <div class="col-lg-4">
                        {{ form_row(form.titleSocial) }}
                        {{ form_row(form.descriptionSocial) }}
                        {{ form_row(form.isActive) }}
                        {{ form_row(form.submit) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        {{ form_row(form.attributesChange) }}
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block style %}
    {{ parent() }}
{% endblock %}

{% block script %}
    {{ parent() }}
{% endblock %}
