{% extends 'AxipiBackendBundle:MaterialDesignLite:base.html.twig' %}

{% block title %}{{ relation.widget.title }} - {{ 'widgets'|trans({}, 'axipi_backend') }}{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="mdl-grid">
        <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col">
            <div class="mdl-card__title">
                <h1 class="mdl-card__title-text">
                    <span><a class="mdl-color-text--pink" href="{{ path('axipi_backend_widgets', {language: app.request.get('language'), action: 'index'}) }}"><i class="fa fa-{{ 'icons.widget'|trans({}, 'axipi_backend') }}"></i>{{ 'widgets'|trans({}, 'axipi_backend') }}</a></span>
                    <span><a class="mdl-color-text--pink" href="{{ path('axipi_backend_widgets', {language: app.request.get('language'), action: 'read', 'id': relation.widget.id}) }}">{{ relation.widget.title }}</a></span>
                    <span><a class="mdl-color-text--pink" href="{{ path('axipi_backend_relations', {language: app.request.get('language'), action: 'read', 'id': relation.id}) }}">{{ relation.page.title }}</a></span>
                </h1>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-color--pink mdl-color-text--white" href="{{ path('axipi_backend_relations', {language: app.request.get('language'), action: 'update', 'id': relation.id}) }}">{{ 'actions.update'|trans({}, 'axipi_backend') }}</a>
            </div>
        </div>

        <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col">
            <div class="mdl-card__supporting-text mdl-grid">
                <div class="mdl-cell mdl-cell--4-col">
                    {{ form_row(form.confirm) }}
                    {{ form_row(form.submit) }}
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block style %}
    {{ parent() }}
{% endblock %}

{% block script %}
    {{ parent() }}
{% endblock %}
