{% extends 'AxipiBackendBundle:Bootstrap:base.html.twig' %}

{% block title %}{{ relation.widget.title }} - {{ 'widgets'|trans({}, 'axipi_backend') }}{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            {% embed 'AxipiBackendBundle:Bootstrap:block_title.html.twig' %}
                {% block block_title %}
                    <span><a href="{{ path('axipi_backend_widgets', {language: app.request.get('language'), action: 'index'}) }}"><i class="fa fa-{{ 'icons.widget'|trans({}, 'axipi_backend') }}"></i>{{ 'widgets'|trans({}, 'axipi_backend') }}</a></span>
                    <span><a href="{{ path('axipi_backend_widgets', {language: app.request.get('language'), action: 'read', 'id': relation.widget.id}) }}"><i class="fa fa-{{ relation.widget.component.icon }}"></i>{{ relation.widget.title }}</a></span>
                    <span><a href="{{ path('axipi_backend_relations', {language: app.request.get('language'), action: 'read', 'id': relation.id}) }}"><i class="fa fa-{{ relation.page.component.icon }}"></i>{{ relation.page.title }}</a></span>
                    <span><i class="fa fa-{{ 'icons.delete'|trans({}, 'axipi_backend') }}"></i>{{ 'actions.delete'|trans({}, 'axipi_backend') }}</span>
                {% endblock %}
                {% block block_title_actions %}
                    <li><a href="{{ path('axipi_backend_relations', {language: app.request.get('language'), action: 'update', 'id': relation.id}) }}"><i class="fa fa-{{ 'icons.update'|trans({}, 'axipi_backend') }}"></i>{{ 'actions.update'|trans({}, 'axipi_backend') }}</a></li>
                {% endblock %}
            {% endembed %}

            <div class="block">
                {{ form_start(form) }}
                {{ form_errors(form) }}
                <div class="row">
                    <div class="col-lg-4">
                        {{ form_row(form.confirm) }}
                        {{ form_row(form.submit) }}
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block style %}
    {{ parent() }}
{% endblock %}

{% block script %}
    {{ parent() }}
{% endblock %}
