{% extends 'AxipiBackendBundle:MaterialDesignLite:base.html.twig' %}

{% block title %}{{ widget.title }} - {{ 'widgets'|trans({}, 'axipi_backend') }}{% endblock %}

{% block body %}
    <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
        <div class="mdl-tabs__tab-bar">
            {% for language in languages %}
                <a href="{{ path('axipi_backend_widgets', {language: language.code, action: 'index'}) }}" class="mdl-tabs__tab{% if app.request.get('language') == language.code %} is-active{% endif %}">{{ language.title }}</a>
            {% endfor %}
        </div>
    </div>

    <div class="mdl-grid">
        <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col">
            <div class="mdl-card__title mdl-color-text--white mdl-color--teal">
                <h1 class="mdl-card__title-text">
                    <span><a class="mdl-color-text--white" href="{{ path('axipi_backend_widgets', {language: app.request.get('language'), action: 'index'}) }}"><i class="fa fa-{{ 'icons.widget'|trans({}, 'axipi_backend') }}"></i>{{ 'widgets'|trans({}, 'axipi_backend') }}</a></span>
                    {% if widget.parent %}
                        <span><a class="mdl-color-text--white" href="{{ path('axipi_backend_widgets', {language: app.request.get('language'), action: 'read', id: widget.parent.id}) }}"><i class="fa fa-{{ widget.parent.component.icon }}"></i>{{ widget.parent.title }}</a></span>
                    {% endif %}
                    <span><i class="fa fa-{{ widget.component.icon }}"></i>{{ widget.title }}</span>
                </h1>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-color--pink mdl-color-text--white" href="{{ path('axipi_backend_widgets', {language: app.request.get('language'), action: 'update', 'id': widget.id}) }}">{{ 'actions.update'|trans({}, 'axipi_backend') }}</a>
                <a class="mdl-button mdl-color--pink mdl-color-text--white" href="{{ path('axipi_backend_widgets', {language: app.request.get('language'), action: 'delete', 'id': widget.id}) }}">{{ 'actions.delete'|trans({}, 'axipi_backend') }}</a>
            </div>
        </div>

        <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col">
            <div class="mdl-card__supporting-text mdl-grid">
                <div class="mdl-cell mdl-cell--4-col">
                    {{ macro.read_field('item.language'|trans({}, 'axipi_backend'), widget.language.title) }}
                    {{ macro.read_field('item.component'|trans({}, 'axipi_backend'), widget.component.title) }}
                    {{ macro.read_field('item.template'|trans({}, 'axipi_backend'), widget.template) }}
                    {% if widget.parent %}{{ macro.read_field('item.parent'|trans({}, 'axipi_backend'), widget.parent.title) }}{% endif %}
                    {{ macro.read_field('item.code'|trans({}, 'axipi_backend'), widget.code) }}
                    {{ macro.read_field('item.ordering'|trans({}, 'axipi_backend'), widget.ordering) }}
                    {{ macro.read_field('item.title'|trans({}, 'axipi_backend'), widget.title) }}
                    {% if widget.zone %}{{ macro.read_field('item.zone'|trans({}, 'axipi_backend'), widget.zone.code) }}{% endif %}
                    {{ macro.read_field('item.isActive'|trans({}, 'axipi_backend'), widget.isActive) }}
                </div>
                <div class="mdl-cell mdl-cell--8-col">
                    {% set attributes = widget.component.attributesSchema|jsonDecode %}
                    {% for k, v in attributes %}
                        {{ macro.read_field(k, widget.attribute(k)) }}
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col">
            <div class="mdl-card__title mdl-color-text--white mdl-color--teal">
                <h1 class="mdl-card__title-text">
                    <span><i class="fa fa-{{ 'icons.relation'|trans({}, 'axipi_backend') }}"></i>{{ 'relations'|trans({}, 'axipi_backend') }}</span>
                </h1>
            </div>
            <div class="mdl-card__actions mdl-card--border mdl-color-text--black">
                <a class="mdl-button mdl-color--pink mdl-color-text--white" href="{{ path('axipi_backend_relations', {language: app.request.get('language'), action: 'create', 'id': widget.id}) }}">{{ 'actions.create'|trans({}, 'axipi_backend') }}</a>
            </div>
        </div>

        <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col">
            <div class="mdl-card__supporting-text mdl-grid">
                {% for object in objects %}
                    <div class="mdl-cell mdl-cell--2-col">
                        <div class="mdl-card__supporting-text mdl-color-text--black">
                            <a href="{{ path('axipi_backend_relations', {language: app.request.get('language'), action: 'read', id: object.id}) }}"><i class="fa fa-4x fa-{{ object.page.component.icon }}"></i><br>{{ object.page.title }}</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col">
            <div class="mdl-card__title mdl-color-text--white mdl-color--teal">
                <h1 class="mdl-card__title-text">
                    <span><i class="fa fa-{{ 'icons.widget'|trans({}, 'axipi_backend') }}"></i>{{ 'item.children'|trans({}, 'axipi_backend') }}</span>
            </div>
            <div class="mdl-card__actions mdl-card--border mdl-color-text--black">
                <a class="mdl-button mdl-color--pink mdl-color-text--white" href="#">{{ 'actions.create'|trans({}, 'axipi_backend') }}</a>
            </div>
        </div>

        <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col">
            <div class="mdl-card__supporting-text mdl-grid">
                    {% if widget.children|length %}
                        {% for object in widget.children if object.component.category == 'widget' %}
                        <div class="mdl-cell mdl-cell--2-col">
                            <div class="mdl-card__supporting-text mdl-color-text--black">
                                <a href="{{ path('axipi_backend_widgets', {language: app.request.get('language'), action: 'read', id: object.id}) }}"><i class="fa fa-4x fa-{{ object.component.icon }}"></i><br>{{ object.title }}</a>
                            </div>
                        </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col">
            <div class="mdl-card__title mdl-color-text--white mdl-color--teal">
                <h1 class="mdl-card__title-text">
                    <span><i class="fa fa-download"></i>{{ 'drag_drop'|trans({}, 'axipi_backend') }} <small>Drop file(s) over icon</small></span>
                </h1>
            </div>
        </div>

        <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col">
            <div class="mdl-card__supporting-text mdl-grid">
                    {% if widget.component.id == 31 %}
                        <div class="mdl-cell mdl-cell--2-col">
                            <div class="mdl-card__supporting-text mdl-color-text--black" data-url="{{ path('axipi_backend_pages', {language: app.request.get('language'), action: 'upload'}) }}" id="ajax-uploader" data-parent="{{ widget.id }}" data-component="32">
                            <a fileinput-button attachment-upload" href="#">
                                <i class="fa fa-4x fa-picture-o"></i><br>Slideshow / Slide
                            </a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block style %}
    {{ parent() }}
{% endblock %}

{% block script %}
    {{ parent() }}
{% endblock %}
