{% extends 'AxipiBackendBundle:MaterialDesignLite:base.html.twig' %}

{% block title %}{{ widget.title }} - {{ 'widgets'|trans({}, 'axipi_backend') }}{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <ul class="nav nav-tabs">
                {% for language in languages %}
                    <li role="presentation"{% if app.request.get('language') == language.code %} class="active"{% endif %}><a href="{{ path('axipi_backend_widgets', {language: language.code, action: 'index'}) }}">{{ language.title }}</a></li>
                {% endfor %}
            </ul>

            {% embed 'AxipiBackendBundle:Bootstrap:block_title.html.twig' %}
                {% block block_title %}
                    <span><a href="{{ path('axipi_backend_widgets', {language: app.request.get('language'), action: 'index'}) }}"><i class="fa fa-{{ 'icons.widget'|trans({}, 'axipi_backend') }}"></i>{{ 'widgets'|trans({}, 'axipi_backend') }}</a></span>
                    {% if widget.parent %}
                        <span><a href="{{ path('axipi_backend_widgets', {language: app.request.get('language'), action: 'read', id: widget.parent.id}) }}"><i class="fa fa-{{ widget.parent.component.icon }}"></i>{{ widget.parent.title }}</a></span>
                    {% endif %}
                    <span><i class="fa fa-{{ widget.component.icon }}"></i>{{ widget.title }}</span>
                {% endblock %}
                {% block block_title_actions %}
                    <li><a href="{{ path('axipi_backend_widgets', {language: app.request.get('language'), action: 'update', 'id': widget.id}) }}">{{ 'actions.update'|trans({}, 'axipi_backend') }}</a></li>
                    <li><a href="{{ path('axipi_backend_widgets', {language: app.request.get('language'), action: 'delete', 'id': widget.id}) }}">{{ 'actions.delete'|trans({}, 'axipi_backend') }}</a></li>
                {% endblock %}
            {% endembed %}

            <div class="block">
                <div class="row">
                    <div class="mdl-cell mdl-cell--4-col">
                        {{ macro.read_field('item.language'|trans({}, 'axipi_backend'), widget.language.title) }}
                        {{ macro.read_field('item.component'|trans({}, 'axipi_backend'), widget.component.title) }}
                        {{ macro.read_field('item.template'|trans({}, 'axipi_backend'), widget.template) }}
                        {% if widget.parent %}{{ macro.read_field('item.parent'|trans({}, 'axipi_backend'), widget.parent.title) }}{% endif %}
                        {{ macro.read_field('item.code'|trans({}, 'axipi_backend'), widget.code) }}
                        {{ macro.read_field('item.ordering'|trans({}, 'axipi_backend'), widget.ordering) }}
                        {{ macro.read_field('item.title'|trans({}, 'axipi_backend'), widget.title) }}
                        {% if widget.zone %}{{ macro.read_field('item.zone'|trans({}, 'axipi_backend'), widget.zone.code) }}{% endif %}
                        {{ macro.read_field('item.isActive'|trans({}, 'axipi_backend'), widget.isActive) }}
                    </div>
                    <div class="mdl-cell mdl-cell--8-col">
                        {% set attributes = widget.component.attributesSchema|jsonDecode %}
                        {% for k, v in attributes %}
                            {{ macro.read_field(k, widget.attribute(k)) }}
                        {% endfor %}
                    </div>
                </div>
            </div>

            {% embed 'AxipiBackendBundle:Bootstrap:block_title.html.twig' %}
                {% block block_title %}
                    <span><i class="fa fa-{{ 'icons.relation'|trans({}, 'axipi_backend') }}"></i>{{ 'relations'|trans({}, 'axipi_backend') }}</span>
                {% endblock %}
                {% block block_title_actions %}
                    <li><a href="{{ path('axipi_backend_relations', {language: app.request.get('language'), action: 'create', 'id': widget.id}) }}"><i class="fa fa-{{ 'icons.create'|trans({}, 'axipi_backend') }}"></i>{{ 'actions.create'|trans({}, 'axipi_backend') }}</a></li>
                {% endblock %}
            {% endembed %}

            <div class="block">
                <div class="row">
                    {% for object in objects %}
                        <div class="col-lg-2 col-sm-3 col-xs-6 text-center">
                            <a class="thumbnail" href="{{ path('axipi_backend_relations', {language: app.request.get('language'), action: 'read', id: object.id}) }}"><i class="fa fa-4x fa-{{ object.page.component.icon }}"></i><br>{{ object.page.title }}</a>
                        </div>
                    {% endfor %}
                </div>
            </div>

            {% embed 'AxipiBackendBundle:Bootstrap:block_title.html.twig' %}
                {% block block_title %}
                    <span><i class="fa fa-{{ 'icons.widget'|trans({}, 'axipi_backend') }}"></i>{{ 'item.children'|trans({}, 'axipi_backend') }}</span>
                {% endblock %}
                {% block block_title_actions %}
                    <li><a role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="true" aria-controls="collapseExample"><i class="fa fa-{{ 'icons.create'|trans({}, 'axipi_backend') }}"></i>{{ 'actions.create'|trans({}, 'axipi_backend') }}</a></li>
                {% endblock %}
            {% endembed %}

            <div class="block">
                <div class="row" id="ajax-upload-result">
                    {% if widget.children|length %}
                        {% for object in widget.children if object.component.category == 'widget' %}
                            <div class="col-lg-2 col-sm-3 col-xs-6 text-center">
                                <a class="thumbnail" href="{{ path('axipi_backend_widgets', {language: app.request.get('language'), action: 'read', id: object.id}) }}"><i class="fa fa-4x fa-{{ object.component.icon }}"></i><br>{{ object.title }}</a>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>

            {% embed 'AxipiBackendBundle:Bootstrap:block_title.html.twig' %}
                {% block block_title %}
                    <span><i class="fa fa-download"></i>{{ 'drag_drop'|trans({}, 'axipi_backend') }} <small>Drop file(s) over icon</small></span>
                {% endblock %}
                {% block block_title_actions %}
                {% endblock %}
            {% endembed %}

            <div class="block">
                <div class="row">
                    {% if widget.component.id == 31 %}
                        <div class="col-lg-2 col-sm-3 col-xs-6 text-center" data-url="{{ path('axipi_backend_pages', {language: app.request.get('language'), action: 'upload'}) }}" id="ajax-uploader" data-parent="{{ widget.id }}" data-component="32">
                            <a class="thumbnail fileinput-button attachment-upload" href="#">
                                <i class="fa fa-4x fa-picture-o"></i><br>Slideshow / Slide
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block style %}
    {{ parent() }}
{% endblock %}

{% block script %}
    {{ parent() }}
{% endblock %}
