{% extends 'AxipiBackendBundle::base.html.twig' %}

{% block title %}{{ 'widgets'|trans({}, 'axipi_backend') }}{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="mdl-grid">
        {% embed 'AxipiBackendBundle::card.html.twig' %}
            {% block card__title %}
                <span><a class="mdl-color-text--pink" href="{{ path('axipi_backend_widgets', {action: 'index'}) }}"><i class="fa fa-{{ 'icons.widget'|trans({}, 'axipi_backend') }}"></i>{{ 'widgets'|trans({}, 'axipi_backend') }}</a></span>
                {% if widget_parent is defined %}
                    {% if widget_parent.parent %}
                        {% if widget_parent.parent.parent %}
                            {% if widget_parent.parent.parent.parent %}
                                <span><a class="mdl-color-text--pink" href="{{ path('axipi_backend_widgets', {language: app.request.get('language'), action: 'read', id: widget_parent.parent.parent.parent.id}) }}">{{ widget_parent.parent.parent.parent.title }}</a></span>
                            {% endif %}
                            <span><a class="mdl-color-text--pink" href="{{ path('axipi_backend_widgets', {language: app.request.get('language'), action: 'read', id: widget_parent.parent.parent.id}) }}">{{ widget_parent.parent.parent.title }}</a></span>
                        {% endif %}
                        <span><a class="mdl-color-text--pink" href="{{ path('axipi_backend_widgets', {language: app.request.get('language'), action: 'read', id: widget_parent.parent.id}) }}">{{ widget_parent.parent.title }}</a></span>
                    {% endif %}
                    <span><a class="mdl-color-text--pink" href="{{ path('axipi_backend_widgets', {language: app.request.get('language'), action: 'read', id: widget_parent.id}) }}">{{ widget_parent.title }}</a></span>
                {% endif %}
            {% endblock %}
            {% block card__supporting %}
                <div class="mdl-cell mdl-cell--4-col">
                    {{ macro.read_field('item.language'|trans({}, 'axipi_backend'), language.title) }}
                    {{ macro.read_field('item.component'|trans({}, 'axipi_backend'), component.title) }}
                    {{ form_row(form.template) }}
                    {{ form_row(form.parent) }}
                    {{ form_row(form.code) }}
                    {{ form_row(form.ordering) }}
                    {{ form_row(form.title) }}
                    {{ form_row(form.zone) }}
                    {{ form_row(form.isActive) }}
                    {{ form_row(form.submit) }}
                </div>
                <div class="mdl-cell mdl-cell--8-col">
                    {{ form_row(form.attributesChange) }}
                </div>
            {% endblock %}
        {% endembed %}
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block style %}
    {{ parent() }}
{% endblock %}

{% block script %}
    {{ parent() }}
{% endblock %}
