{% extends 'AxipiBackendBundle::base.html.twig' %}

{% block title %}{{ 'widgets'|trans({}, 'axipi_backend') }} ({{ app.request.get('language') }}){% endblock %}

{% block body %}
    <div class="mdl-tabs">
        <div class="mdl-tabs__tab-bar">
            <a href="{{ path('axipi_backend_widgets', {language: 'null', action: 'index'}) }}" class="mdl-tabs__tab{% if app.request.get('language') == 'null' %} is-active{% endif %}">{{ 'any_language'|trans({}, 'axipi_backend') }}</a>
            {% for language in languages %}
                <a href="{{ path('axipi_backend_widgets', {language: language.code, action: 'index'}) }}" class="mdl-tabs__tab{% if app.request.get('language') == language.code %} is-active{% endif %}">{{ language.title }}</a>
            {% endfor %}
        </div>
    </div>

    {% embed 'AxipiBackendBundle::card.html.twig' with {no_title: true, toggle: true, id: 'widgets-create'} %}
        {% block card__actions %}
            <a class="mdl-button mdl-color--pink mdl-color-text--white toggle" href="#widgets-create">{{ 'actions.close'|trans({}, 'axipi_backend') }}</a>
        {% endblock %}
        {% block card__supporting %}
            {% for component in components %}
                <div class="mdl-cell mdl-cell--2-col">
                    <a href="{{ path('axipi_backend_widgets', {language: app.request.get('language'), action: 'create', id: component.id}) }}"><i class="fa fa-3x fa-{{ component.icon }}"></i><br>{{ component.title }}</a>
                </div>
            {% endfor %}
        {% endblock %}
    {% endembed %}

    {% embed 'AxipiBackendBundle::card.html.twig' %}
        {% block card__actions %}
            <a class="mdl-button mdl-color--pink mdl-color-text--white toggle" href="#widgets-create">{{ 'actions.create'|trans({}, 'axipi_backend') }}</a>
        {% endblock %}
        {% block card__title %}
            <span><i class="fa fa-{{ 'icons.widget'|trans({}, 'axipi_backend') }}"></i>{{ 'widgets'|trans({}, 'axipi_backend') }}</span>
        {% endblock %}
    {% endembed %}

    {% embed 'AxipiBackendBundle::card.html.twig' with {dropzone: true, sortzone: true, id: 'no_zone'} %}
        {% block card__title %}
            <span><i class="fa fa-{{ 'icons.zone'|trans({}, 'axipi_backend') }}"></i>{{ 'no_zone'|trans({}, 'axipi_backend') }}</span>
        {% endblock %}
        {% block card__supporting %}
            {% if app.request.get('language') == 'null' %}
                {% for object in no_zone if object.language is null %}
                    <div class="mdl-cell mdl-cell--2-col sortitem" id="item-{{ object.id }}">
                        <a href="{{ path('axipi_backend_widgets', {language: app.request.get('language'), action: 'read', id: object.id}) }}"><i class="fa fa-3x fa-{{ object.component.icon }}"></i><br>{{ object.title }}</a>
                    </div>
                {% endfor %}
            {% else %}
                {% for object in no_zone if object.language is not null and object.language.code == app.request.get('language') %}
                    <div class="mdl-cell mdl-cell--2-col sortitem" id="item-{{ object.id }}">
                        <a href="{{ path('axipi_backend_widgets', {language: app.request.get('language'), action: 'read', id: object.id}) }}"><i class="fa fa-3x fa-{{ object.component.icon }}"></i><br>{{ object.title }}</a>
                    </div>
                {% endfor %}
            {% endif %}
        {% endblock %}
    {% endembed %}

    {% for zone in zones %}
        {% embed 'AxipiBackendBundle::card.html.twig' with {dropzone: true, sortzone: true, id: 'zone-' ~ zone.id} %}
            {% block card__title %}
                <span><i class="fa fa-{{ 'icons.zone'|trans({}, 'axipi_backend') }}"></i>{{ zone.code }}</span>
            {% endblock %}
            {% block card__supporting %}
                {% if app.request.get('language') == 'null' %}
                    {% for object in zone.widgets if object.language is null %}
                        <div class="mdl-cell mdl-cell--2-col sortitem" id="item-{{ object.id }}">
                            <a href="{{ path('axipi_backend_widgets', {language: app.request.get('language'), action: 'read', id: object.id}) }}"><i class="fa fa-3x fa-{{ object.component.icon }}"></i><br>{{ object.title }}</a>
                        </div>
                    {% endfor %}
                {% else %}
                    {% for object in zone.widgets if object.language is not null and object.language.code == app.request.get('language') %}
                        <div class="mdl-cell mdl-cell--2-col sortitem" id="item-{{ object.id }}">
                            <a href="{{ path('axipi_backend_widgets', {language: app.request.get('language'), action: 'read', id: object.id}) }}"><i class="fa fa-3x fa-{{ object.component.icon }}"></i><br>{{ object.title }}</a>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endblock %}
        {% endembed %}
    {% endfor %}
{% endblock %}

{% block style %}
    {{ parent() }}
{% endblock %}

{% block script %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('vendor/jquery-ui/ui/minified/core.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('vendor/jquery-ui/ui/minified/mouse.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('vendor/jquery-ui/ui/minified/sortable.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('vendor/jquery-ui/ui/minified/droppable.min.js') }}"></script>

    <script type="text/javascript">
    $('.sortzone').sortable({
        forcePlaceholderSize: true,
        cursor: "move",
        helper: "clone",
        appendTo: "#target-drag",
        zIndex: 9999,
        connectWith: ".dropzone",
        tolerance: "pointer",
        items: "div:not(.placeholder)",
        stop: function(event, ui) {
            var zone = $(ui.item).parent().parent();
            var result = {};
            zone.find('.sortitem').each(function(index) {
                var id = $(this).attr('id');
                result[id.replace('item-', '')] = index + 1;
            });
            $.ajax({
                async: true,
                cache: false,
                data: {'result': JSON.stringify(result)},
                dataType: 'json',
                success: function (data) {
                },
                type: 'POST',
                url: '{{ path('axipi_backend_widgets', {language: app.request.get('language'), action: 'sort'}) }}'
            });
        }
    });

    $('.dropzone').droppable({
        activeClass: "ui-state-default",
        hoverClass: "ui-state-hover",
        accept: "div",
        drop: function( event, ui ) {
            /*var zone = $(ui.draggable).parent().parent().attr('id');
            console.log(zone);
            $.ajax({
                async: true,
                cache: false,
                data: {'zone': zone.replace('zone-', '')},
                dataType: 'json',
                success: function (data) {
                },
                type: 'POST',
                url: '{{ path('axipi_backend_widgets', {language: app.request.get('language'), action: 'move'}) }}/' + $(ui.draggable).attr('id')
            });*/
        }
    });
    </script>
{% endblock %}
