{% extends 'AxipiBackendBundle::base.html.twig' %}

{% block title %}{{ widget.title }} - {{ 'widgets'|trans({}, 'axipi_backend') }}{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            {% embed 'AxipiBackendBundle::block_title.html.twig' %}
                {% block block_title %}
                    <span><a href="{{ path('axipi_backend_widget', {action: 'index'}) }}"><i class="fa fa-{{ 'icons.widget'|trans({}, 'axipi_backend') }}"></i>{{ 'widgets'|trans({}, 'axipi_backend') }}</a></span>
                    <span><a href="{{ path('axipi_backend_widget', {action: 'read', 'id': widget.id}) }}"><i class="fa fa-{{ widget.component.icon }}"></i>{{ widget.title }}</a></span>
                    <span><i class="fa fa-{{ 'icons.update'|trans({}, 'axipi_backend') }}"></i>{{ 'actions.update'|trans({}, 'axipi_backend') }}</span>
                {% endblock %}
                {% block block_title_actions %}
                    <li><a href="{{ path('axipi_backend_widget', {action: 'delete', 'id': widget.id}) }}"><i class="fa fa-trash"></i>{{ 'actions.delete'|trans({}, 'axipi_backend') }}</a></li>
                {% endblock %}
            {% endembed %}

            <div class="block">
                {{ form_start(form) }}
                {{ form_errors(form) }}
                <div class="row">
                    <div class="col-lg-4">
                        {{ form_row(form.program) }}
                        {{ form_row(form.component) }}
                        {{ form_row(form.code) }}
                    </div>
                    <div class="col-lg-4">
                        {{ form_row(form.title) }}
                        {{ form_row(form.zone) }}
                        {{ form_row(form.isActive) }}
                        {{ form_row(form.submit) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        {{ form_row(form.attributes) }}
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block style %}
    {{ parent() }}
{% endblock %}

{% block script %}
    {{ parent() }}
{% endblock %}
