<!DOCTYPE html>
<html>
<head>
<title>{% block title %}Welcome!{% endblock %}</title>
{% block style %}
<link rel="stylesheet" type="text/css" href="{{ asset('vendor/font-awesome/css/font-awesome.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('vendor/bootstrap/dist/css/bootstrap.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/backend/css/base.css') }}">
{% endblock %}
{% block meta %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}
</head>
<body>

<nav class="navbar navbar-default small" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li><a href="#"><i class="fa fa-home"></i>Accueil</a></li>
            <li><a href="#individuals"><i class="fa fa-users"></i>Individus</a></li>
            <li><a href="#companies"><i class="fa fa-building-o"></i>Sociétés</a></li>
            <li><a href="#artists"><i class="fa fa-briefcase"></i>Artistes</a></li>
            <li><a href="#clients"><i class="fa fa-bank"></i>Clients</a></li>
            <li><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-shield"></i>Admin <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#members"><i class="fa fa-group"></i>Membres</a></li>
                    <li><a href="#_connections"><i class="fa fa-sign-in"></i>Connexions</a></li>
                    <li><a href="#roles"><i class="fa fa-magic"></i>Roles</a></li>
                    <li><a href="#_configuration"><i class="fa fa-gears"></i>Configuration</a></li>
                    <li><a href="#_database"><i class="fa fa-hdd-o"></i>Database</a></li>
                    <li><a href="#_folders"><i class="fa fa-folder-open"></i>Folders</a></li>
                    <li><a href="#_info"><i class="fa fa-info-circle"></i>Info</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav pull-right">
            <li><a target="_blank" href="#online"><i class="fa fa-rocket"></i>Frontend</a></li>
            <li><a href="#tickets"><i class="fa fa-user"></i>Profile</a></li>
            <li><a href="#logout"><i class="fa fa-sign-out"></i>Logout</a></li>
        </ul>
    </div>
</nav>

{% block body %}
{% endblock %}

{% block script %}
<script type="text/javascript" src="{{ asset('vendor/jquery/dist/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
{% endblock %}

</body>
</html>
