{% extends 'AxipiGalleryBundle::base.html.twig' %}

{% block main %}
    <!-- Gallery / Album -->
    <section class="main">
        <header>
            <h1>{{ page.title }}</h1>
        </header>

        <article>
            {{ convertText(page.attribute('description')|raw) }}
        </article>
    </section>

    <section class="medias flex">
        {% for media in medias %}
            <a class="flexitem" href="{{ buildLink(media) }}"><img src="{{ relative_path('uploads/' ~ media.attribute('image'))|imagine_filter('square_thumb') }}" alt=""></a>
        {% endfor %}
    </section>

    <section class="albums flex">
        {% for album in albums %}
            {% if album.attribute('image') %}
                <a class="flexitem" href="{{ buildLink(album) }}"><img src="{{ relative_path('uploads/' ~ album.attribute('image'))|imagine_filter('square_thumb') }}" alt=""></a>
            {% else %}
                <a class="flexitem" href="{{ buildLink(album) }}">{{ album.title }}</a>
            {% endif %}
        {% endfor %}
    </section>
    <!-- Gallery / Album (end) -->
{% endblock %}

{% block meta %}
    {{ parent() }}
    {{ page.meta|raw }}
{% endblock %}

{% block style %}
    {{ parent() }}
    {{ page.style|raw }}
{% endblock %}

{% block script %}
    {{ parent() }}
    {{ page.script|raw }}
{% endblock %}
