{% extends 'AxipiGalleryBundle::base.html.twig' %}

{% block main %}
    <!-- Gallery / Album -->
    <article id="post-71" class="post-71 page type-page status-publish hentry">
        <header class="entry-header">
            <h1 class="entry-title">{{ page.title }}</h1>
        </header>

        <div class="entry-content">
            {{ convertText(page.attribute('description')|raw) }}

            <p>
            {% for media in medias %}
                <a class="thumbnail" href="{{ buildLink(media) }}"><img src="{{ asset('uploads/' ~ media.attribute('image')) }}" class="img-responsive"></a>
            {% endfor %}
            </p>
        </div>
    </article>

    <div class="row">
        {% for album in albums %}
            <div class="col-lg-2">
                <a class="thumbnail" href="{{ buildLink(album) }}">
                    {% if album.attribute('thumbnail') %}
                        <img src="{{ asset('uploads/' ~ album.attribute('thumbnail')) }}" class="img-responsive">
                    {% else %}
                        {{ album.title }}
                    {% endif %}
                </a>
            </div>
        {% endfor %}
    </div>
    <!-- Gallery / Album (end) -->
{% endblock %}

{% block meta %}
    {{ parent() }}
    {{ page.meta|raw }}
{% endblock %}

{% block style %}
    {{ parent() }}
    {{ page.style|raw }}
{% endblock %}

{% block script %}
    {{ parent() }}
    {{ page.script|raw }}
{% endblock %}
