{% extends 'AxipiCoreBundle::base.html.twig' %}

{% block title %}{{ page.title }}{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1>media controller</h1>
        <p>slug {{ page.title }}</p>
        <p>{{ 'test1.test2'|trans({}, 'core') }}</p>
        <p><a href="{{ path('axipi_core_slug', {slug: 'a/b/c/d'}) }}">a/b/c/d</a></p>
    </div>
{% endblock %}

{% block style %}
    {{ parent() }}
{% endblock %}

{% block script %}
    {{ parent() }}
{% endblock %}
