{% extends 'AxipiGalleryBundle::base.html.twig' %}

{% block title %}{{ page.title }}{% endblock %}

{% block main %}
    <div class="jumbotron">
        <h1>media controller</h1>
        <h2>{{ page.title }}</h2>
        <p><a href="{{ path('axipi_core_slug', {slug: 'a/b/c/d'}) }}">a/b/c/d</a></p>
        <p><a href="{{ path('axipi_core_slug', {slug: 'axipi'}) }}">axipi</a></p>
    </div>
{% endblock %}

{% block style %}
    {{ parent() }}
{% endblock %}

{% block script %}
    {{ parent() }}
{% endblock %}
