{% extends 'AxipiBackendBundle::base.html.twig' %}

{% block title %}{{ 'components'|trans({}, 'axipi_backend') }}{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            {% embed 'AxipiBackendBundle::block_title.html.twig' %}
                {% block block_title %}
                    <span><i class="fa fa-{{ 'icons.component'|trans({}, 'axipi_backend') }}"></i>{{ 'components'|trans({}, 'axipi_backend') }}</span>
                {% endblock %}
                {% block block_title_actions %}
                    <li><a role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="true" aria-controls="collapseExample"><i class="fa fa-{{ 'icons.create'|trans({}, 'axipi_backend') }}"></i>{{ 'actions.create'|trans({}, 'axipi_backend') }}</a></li>
                {% endblock %}
            {% endembed %}

            <div class="block collapse" id="collapseExample">
                <div class="row">
                    <div class="col-lg-2 col-sm-3 text-center">
                        <a class="thumbnail" href="{{ path('axipi_backend_component', {action: 'create', 'id': 'page'}) }}"><i class="fa fa-4x fa-{{ 'icons.page'|trans({}, 'axipi_backend') }}"></i><br>{{ 'category.page'|trans({}, 'axipi_backend') }}</a>
                    </div>
                    <div class="col-lg-2 col-sm-3 text-center">
                        <a class="thumbnail" href="{{ path('axipi_backend_component', {action: 'create', 'id': 'widget'}) }}"><i class="fa fa-4x fa-{{ 'icons.widget'|trans({}, 'axipi_backend') }}"></i><br>{{ 'category.widget'|trans({}, 'axipi_backend') }}</a>
                    </div>
                </div>
            </div>

            {% embed 'AxipiBackendBundle::block_title.html.twig' %}
                {% block block_title %}
                    <span><i class="fa fa-{{ 'icons.page'|trans({}, 'axipi_backend') }}"></i>{{ 'category.page'|trans({}, 'axipi_backend') }}</span>
                {% endblock %}
                {% block block_title_actions %}
                {% endblock %}
            {% endembed %}

            <div class="block">
                <div class="row">
                    {% for object in pages %}
                        <div class="col-lg-2 col-sm-3 text-center">
                            <a class="thumbnail" href="{{ path('axipi_backend_component', {action: 'read', id: object.id}) }}"><i class="fa fa-4x fa-{{ object.icon }}"></i><br>{{ object.title }}</a>
                        </div>
                    {% endfor %}
                </div>
            </div>

            {% embed 'AxipiBackendBundle::block_title.html.twig' %}
                {% block block_title %}
                    <span><i class="fa fa-{{ 'icons.widget'|trans({}, 'axipi_backend') }}"></i>{{ 'category.widget'|trans({}, 'axipi_backend') }}</span>
                {% endblock %}
                {% block block_title_actions %}
                {% endblock %}
            {% endembed %}

            <div class="block">
                <div class="row">
                    {% for object in widgets %}
                        <div class="col-lg-2 col-sm-3 text-center">
                            <a class="thumbnail" href="{{ path('axipi_backend_component', {action: 'read', id: object.id}) }}"><i class="fa fa-4x fa-{{ object.icon }}"></i><br>{{ object.title }}</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block style %}
    {{ parent() }}
{% endblock %}

{% block script %}
    {{ parent() }}
{% endblock %}
