{% extends 'AxipiBackendBundle:MaterialDesignLite:base.html.twig' %}

{% block title %}{{ 'login'|trans({}, 'axipi_backend') }}{% endblock %}

{% block body %}
    <div class="mdl-grid">
        {% if error %}
            <div class="alert alert-danger" role="alert">
                <p>{{ error.message }}</p>
            </div>
        {% endif %}

        {% embed 'AxipiBackendBundle:MaterialDesignLite:block_title.html.twig' %}
            {% block block_title %}
                <span><i class="fa fa-{{ 'icons.login'|trans({}, 'axipi_backend') }}"></i>{{ 'login'|trans({}, 'axipi_backend') }}</span>
            {% endblock %}
            {% block block_title_actions %}
                <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" href="#"><i class="fa fa-{{ 'icons.forgot_password'|trans({}, 'axipi_backend') }}"></i>{{ 'forgot_password'|trans({}, 'axipi_backend') }}</a>
            {% endblock %}
        {% endembed %}

        <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--6-col">
            <div class="mdl-card__supporting-text mdl-color-text--black">
                <form action="{{ path('axipi_backend_login_check') }}" method="post">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <label for="username" class="required mdl-textfield__label">{{ 'user.username'|trans({}, 'axipi_backend') }}</label>
                        <input type="email" id="username" name="username" required="required" class="mdl-textfield__input">
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <label for="password" class="required mdl-textfield__label">{{ 'user.password'|trans({}, 'axipi_backend') }}</label>
                        <input type="password" id="password" name="password" required="required" class="mdl-textfield__input">
                    </div>
                    <p>
                        <button class="mdl-button" type="submit" id="login_submit" name="login_submit">{{ 'actions.submit'|trans({}, 'axipi_backend') }}</button>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block style %}
    {{ parent() }}
{% endblock %}

{% block script %}
    {{ parent() }}
{% endblock %}
