{% extends 'AxipiBackendBundle::base.html.twig' %}

{% block title %}{{ 'comments'|trans({}, 'axipi_backend') }}{% endblock %}

{% block body %}
    {% embed 'AxipiBackendBundle::card.html.twig' %}
        {% block card__title %}
            <span><i class="fa fa-{{ 'icons.comment'|trans({}, 'axipi_backend') }}"></i>{{ 'comments'|trans({}, 'axipi_backend') }}</span>
        {% endblock %}
        {% block card__supporting %}
            {% for object in comments %}
                <div class="mdl-cell mdl-cell--2-col">
                    <a href="{{ path('axipi_backend_comment', {action: 'read', id: object.id}) }}"><i class="fa fa-2x fa-{% if object.isActive %}comment{% else %}comment-o{% endif %}"></i><br>{{ object.email }}<br>{{ object.item.title }}</a>
                </div>
            {% endfor %}
        {% endblock %}

        {% block pagination %}
            {% if comments.pageCount > 1 %}
                {{ knp_pagination_render(comments) }}
            {% endif %}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block style %}
    {{ parent() }}
{% endblock %}

{% block script %}
    {{ parent() }}
{% endblock %}
