{% extends 'AxipiBackendBundle::base.html.twig' %}

{% block title %}{{ 'comments'|trans({}, 'axipi_backend') }}{% endblock %}

{% block body %}
    {% embed 'AxipiBackendBundle::card.html.twig' %}
        {% block card__title %}
            <span><i class="fa fa-{{ 'icons.comment'|trans({}, 'axipi_backend') }}"></i>{{ 'comments'|trans({}, 'axipi_backend') }}</span>
        {% endblock %}
        {% block card__supporting %}
            <table class="mdl-data-table mdl-js-data-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Page</th>
                    <th>Author</th>
                    <th>Email</th>
                    <th>Date created</th>
                </tr>
            </thead>
            <tbody>
            {% for object in comments %}
                <tr>
                    <td><a href="{{ path('axipi_backend_comments', {action: 'read', id: object.id}) }}">{{ object.id }}</a></td>
                    <td>{{ object.item.title }}</td>
                    <td>{{ object.author }}</td>
                    <td>{{ object.email }}</td>
                    <td>{{ object.dateCreated|date('Y-m-d H:i:s') }}</td>
                </tr>
            {% endfor %}
            </tbody>
            </table>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block style %}
    {{ parent() }}
{% endblock %}

{% block script %}
    {{ parent() }}
{% endblock %}
