{% extends 'AxipiBackendBundle:MaterialDesignLite:base.html.twig' %}

{% block title %}{{ user.username }} - {{ 'users'|trans({}, 'axipi_backend') }}{% endblock %}

{% block body %}
    <div class="mdl-grid">
        {% embed 'AxipiBackendBundle:MaterialDesignLite:card.html.twig' %}
            {% block card__actions %}
                <a class="mdl-button mdl-color--pink mdl-color-text--white" href="{{ path('axipi_backend_profile', {action: 'update'}) }}">{{ 'actions.update'|trans({}, 'axipi_backend') }}</a>
            {% endblock %}
            {% block card__title %}
                <span><i class="fa fa-{{ 'icons.user'|trans({}, 'axipi_backend') }}"></i>{{ user.username }}</span>
            {% endblock %}
            {% block card__supporting %}
                <div class="mdl-cell mdl-cell--4-col">
                    {{ macro.read_field('user.username'|trans({}, 'axipi_backend'), user.username) }}
                    {{ macro.read_field('user.firstname'|trans({}, 'axipi_backend'), user.firstname) }}
                    {{ macro.read_field('user.lastname'|trans({}, 'axipi_backend'), user.lastname) }}
                </div>
                <div class="mdl-cell mdl-cell--4-col">
                    {{ macro.read_field('user.roles'|trans({}, 'axipi_backend'), user.roles|join('<br>')) }}
                    {{ macro.read_field('user.isActive'|trans({}, 'axipi_backend'), user.isActive) }}
                </div>
            {% endblock %}
        {% endembed %}
    </div>
{% endblock %}

{% block style %}
    {{ parent() }}
{% endblock %}

{% block script %}
    {{ parent() }}
{% endblock %}
