{% extends 'AxipiBackendBundle::base.html.twig' %}

{% block title %}{{ 'search'|trans({}, 'axipi_backend') }}{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            {% embed 'AxipiBackendBundle::block_title.html.twig' %}
                {% block block_title %}
                    <span><i class="fa fa-{{ 'icons.search'|trans({}, 'axipi_backend') }}"></i>{{ 'search'|trans({}, 'axipi_backend') }}</span>
                {% endblock %}
                {% block block_title_actions %}
                    {% if enabled %}
                        <li><a href="{{ path('axipi_backend_search', {action: 'init'}) }}"><i class="fa fa-{{ 'icons.initialize'|trans({}, 'axipi_backend') }}"></i>{{ 'actions.initialize'|trans({}, 'axipi_backend') }}</a></li>
                        <li><a href="{{ path('axipi_backend_search', {action: 'scan'}) }}"><i class="fa fa-{{ 'icons.refresh'|trans({}, 'axipi_backend') }}"></i>{{ 'actions.refresh'|trans({}, 'axipi_backend') }}</a></li>
                    {% endif %}
                {% endblock %}
            {% endembed %}

            {% if enabled %}
                {% if stats is defined %}
                    {% for key, stats in stats.indices %}
                        {% embed 'AxipiBackendBundle::block_title.html.twig' %}
                            {% block block_title %}
                                <span><i class="fa fa-bolt"></i>{{ 'index'|trans({}, 'axipi_backend') }}: {{ key }}</span>
                            {% endblock %}
                            {% block block_title_actions %}
                            {% endblock %}
                        {% endembed %}

                        <div class="block">
                            <div class="row">
                                <div class="col-lg-6">
                                    {{ macro.read_field('total/store/size_in_bytes', stats.total.store.size_in_bytes) }}
                                    {{ macro.read_field('total/docs/count', stats.total.docs.count) }}
                                    {{ macro.read_field('total/docs/deleted', stats.total.docs.deleted) }}
                                </div>
                                <div class="col-lg-6">
                                    {{ macro.read_field('total/search/query_total', stats.total.search.query_total) }}
                                    {{ macro.read_field('total/search/fetch_total', stats.total.search.fetch_total) }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}

                {% if health is defined %}
                    {% embed 'AxipiBackendBundle::block_title.html.twig' %}
                        {% block block_title %}
                            <span><i class="fa fa-database"></i>{{ 'cluster'|trans({}, 'axipi_backend') }}: {{ health.cluster_name }}</span>
                        {% endblock %}
                        {% block block_title_actions %}
                        {% endblock %}
                    {% endembed %}

                    <div class="block">
                        <div class="row">
                            <div class="col-lg-6">
                                {{ macro.read_field('cluster_name', health.cluster_name) }}
                                {{ macro.read_field('status', health.status) }}
                                {{ macro.read_field('number_of_nodes', health.number_of_nodes) }}
                            </div>
                            <div class="col-lg-6">
                                {{ macro.read_field('active_primary_shards', health.active_primary_shards) }}
                                {{ macro.read_field('active_shards', health.active_shards) }}
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% if nodes is defined %}
                    {% for key, node in nodes.nodes %}
                        {% embed 'AxipiBackendBundle::block_title.html.twig' %}
                            {% block block_title %}
                                <span><i class="fa fa-server"></i>{{ 'node'|trans({}, 'axipi_backend') }}: {{ node.name }}</span>
                            {% endblock %}
                            {% block block_title_actions %}
                            {% endblock %}
                        {% endembed %}

                        <div class="block">
                            <div class="row">
                                <div class="col-lg-2">
                                    {{ macro.read_field('name', node.name) }}
                                    {{ macro.read_field('attributes.master', node.attributes.master) }}
                                    {{ macro.read_field('ip', node.ip) }}
                                    {{ macro.read_field('version', node.version) }}
                                </div>
                                <div class="col-lg-6">
                                    {{ macro.read_field('os.name', node.os.name) }}
                                    {{ macro.read_field('os.arch', node.os.arch) }}
                                    {{ macro.read_field('os.version', node.os.version) }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            {% else %}
                <div class="block">
                    <div class="row">
                        <div class="col-lg-12">
                            <p>Disabled</p>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}

{% block style %}
    {{ parent() }}
{% endblock %}

{% block script %}
    {{ parent() }}
{% endblock %}
