{% extends 'AxipiBackendBundle::base.html.twig' %}

{% block title %}{{ 'users'|trans({}, 'axipi_backend') }}{% endblock %}

{% block body %}
    {% embed 'AxipiBackendBundle::card.html.twig' %}
        {% block card__actions %}
            <a class="mdl-button mdl-color--pink mdl-color-text--white" href="{{ path('axipi_backend_user', {action: 'create'}) }}">{{ 'actions.create'|trans({}, 'axipi_backend') }}</a>
        {% endblock %}
        {% block card__title %}
            <span><i class="fa fa-{{ 'icons.user'|trans({}, 'axipi_backend') }}"></i>{{ 'users'|trans({}, 'axipi_backend') }}</span>
        {% endblock %}
        {% block card__supporting %}
            {% for object in objects %}
                <div class="mdl-cell mdl-cell--2-col">
                    <a href="{{ path('axipi_backend_user', {action: 'read', id: object.id}) }}"><i class="fa fa-3x fa-{{ 'icons.user'|trans({}, 'axipi_backend') }}"></i><br>{{ object.username }}</a>
                </div>
            {% endfor %}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block style %}
    {{ parent() }}
{% endblock %}

{% block script %}
    {{ parent() }}
{% endblock %}
