{% extends 'AxipiBackendBundle::base.html.twig' %}

{% block title %}{{ user.username }} - {{ 'users'|trans({}, 'axipi_backend') }}{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            {% embed 'AxipiBackendBundle::block_title.html.twig' %}
                {% block block_title %}
                    <span><a href="{{ path('axipi_backend_user', {action: 'index'}) }}"><i class="fa fa-{{ 'icons.user'|trans({}, 'axipi_backend') }}"></i>{{ 'users'|trans({}, 'axipi_backend') }}</a></span>
                    <span><a href="{{ path('axipi_backend_user', {action: 'read', 'id': user.id}) }}"><i class="fa fa-{{ 'icons.user'|trans({}, 'axipi_backend') }}"></i>{{ user.username }}</a></span>
                    <span><i class="fa fa-{{ 'icons.update'|trans({}, 'axipi_backend') }}"></i>{{ 'actions.update'|trans({}, 'axipi_backend') }}</span>
                {% endblock %}
                {% block block_title_actions %}
                    {% if app.user.id != user.id %}<li><a href="{{ path('axipi_backend_user', {action: 'delete', 'id': user.id}) }}"><i class="fa fa-{{ 'icons.delete'|trans({}, 'axipi_backend') }}"></i>{{ 'actions.delete'|trans({}, 'axipi_backend') }}</a></li>{% endif %}
                {% endblock %}
            {% endembed %}

            <div class="block">
                {{ form_start(form) }}
                {{ form_errors(form) }}
                <div class="row">
                    <div class="col-lg-4">
                        {{ form_row(form.username) }}
                        {{ form_row(form.passwordChange) }}
                        {{ form_row(form.firstname) }}
                        {{ form_row(form.lastname) }}
                    </div>
                    <div class="col-lg-4">
                        {{ form_row(form.rolesChange) }}
                        {% if app.user.id != user.id %}{{ form_row(form.isActive) }}{% endif %}
                        {{ form_row(form.submit) }}
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block style %}
    {{ parent() }}
{% endblock %}

{% block script %}
    {{ parent() }}
{% endblock %}
