<!-- Content / Block -->
<div id="widget-{{ widget.code }}" class="{{ widget.attribute('div_class')|default('widget') }}">
    {% if widget.attribute('display_title')|default(false) %}
        <{{ widget.attribute('title_tag')|default('h3') }} class="widget-title">{{ widget.title }}</{{ widget.attribute('title_tag')|default('h3') }}>
    {% endif %}
    {{ convertText(widget.attribute('description')|raw) }}
</div>
<!-- Content / Block (end) -->
