<!-- Content / Block -->
<div class="widget{% if widget.attribute('div_class') %} {{ widget.attribute('div_class') }}{% endif %}" id="widget-{{ widget.id }}">
    {% if widget.attribute('display_title')|default(false) %}
        <{{ widget.attribute('title_tag')|default('h1') }}>{{ widget.title }}</{{ widget.attribute('title_tag')|default('h1') }}>
    {% endif %}
    {{ convertText(widget.attribute('description')|raw) }}
</div>
<!-- Content / Block (end) -->
