<!-- Content / Language Selector -->
{% if languages|length > 1 %}
    <div id="widget-{{ widget.code }}" class="{{ widget.attribute('div_class')|default('widget') }}">
        {% if widget.attribute('display_title')|default(false) %}
            <{{ widget.attribute('title_tag')|default('h3') }} class="widget-title">{{ widget.title }}</{{ widget.attribute('title_tag')|default('h3') }}>
        {% endif %}
        <ul>
            {% for language in languages %}
                <li{% if page.language.code == language.code %} class="active"{% endif %}><a href="{{ buildLink({'language': language.code, 'slug': ''}) }}">{{ language.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
<!-- Content / Language Selector (end) -->
