<!-- Content / Language Selector -->
{% if languages|length > 1 %}
    <div id="widget-{{ widget.code }}" class="{{ widget.attribute('div_class')|default('col-lg-2 pull-right text-right') }}">
        <div class="btn-group">
            <button type="button" class="{{ widget.attribute('button_class')|default('btn btn-default dropdown-toggle navbar-btn') }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Language <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                {% for language in languages %}
                    <li{% if page.language.code == language.code %} class="active"{% endif %}><a href="{{ buildLink({'language': language.code, 'slug': ''}) }}">{{ language.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}
<!-- Content / Language Selector (end) -->
