{% import '@AxipiContent/Widget/menu_macro.html.twig' as helper %}
<!-- Content / Menu -->
<section class="widget{% if widget.attribute('section_class') %} {{ widget.attribute('section_class') }}{% endif %}" id="widget-{{ widget.id }}">
    {% if widget.attribute('display_title')|default(false) %}
        <header>{{ widget.title }}</header>
    {% endif %}

    <ul{% if widget.attribute('ul_class') %} class="{{ widget.attribute('ul_class') }}"{% endif %}>
        {% for relation in relations['null'] %}
            <li{% if page.slug == relation.page.slug %} class="active"{% endif %}>
                <a href="{{ buildLink(relation.page) }}">{{ relation.title|default(relation.page.title) }}</a>
                {%if relations[relation.id] is defined %}
                    {{ helper.menu_loop(relations, relation.id, page) }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</section>
<!-- Content / Menu (end) -->
