<!-- Content / Menu -->
<div id="widget-{{ widget.code }}" class="col-lg-12">
    <ul class="nav nav-pills">
        <li{% if page.slug == '' %} class="active"{% endif %}><a href="{{ path('axipi_core_slug', {slug: ''}) }}">Home</a></li>
        <li{% if page.slug == 'album' %} class="active"{% endif %}><a href="{{ path('axipi_core_slug', {slug: 'album'}) }}">Album</a></li>
        <li{% if page.slug == 'map' %} class="active"{% endif %}><a href="{{ path('axipi_core_slug', {slug: 'map'}) }}">Map</a></li>
        <li{% if page.slug == 'blog' %} class="active"{% endif %}><a href="{{ path('axipi_core_slug', {slug: 'blog'}) }}">Blog</a></li>
        <li><a href="#">TODO</a></li>
    </ul>
</div>
<!-- Content / Menu (end) -->
