{% import '@AxipiContent/Widget/menu_macro.html.twig' as helper %}
<!-- Content / Menu -->
<div id="widget-{{ widget.code }}" class="{{ widget.attribute('div_class')|default('widget') }}">
    {% if widget.attribute('display_title')|default(false) %}
        <{{ widget.attribute('title_tag')|default('h3') }} class="widget-title">{{ widget.title }}</{{ widget.attribute('title_tag')|default('h3') }}>
    {% endif %}
    <ul class="{{ widget.attribute('ul_class')|default(widget.attribute('predefined'))|default('nav-menu') }}">
        {% for relation in relations %}
            <li{% if page.slug == relation.page.slug %} class="current_page_item"{% endif %}>
                <a href="{{ buildLink(relation.page) }}">{{ relation.title|default(relation.page.title) }}</a>
                {%if relation.children %}
                    {{ helper.menu_loop(relation, page) }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>
<!-- Content / Menu (end) -->
