{% if form is defined %}{% form_theme form 'AxipiCoreBundle::form.html.twig' %}{% endif %}
<!DOCTYPE html>
<html lang="{{ page.language.code }}">
<head>
<title>{% block title %}{{ page.titleSeo|default(page.title) }}{% endblock %}</title>

{% block meta %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% if page.descriptionSeo %}
    <meta name="description" content="{{ page.descriptionSeo }}">
{% endif %}
{% if languages|length > 1 %}
    {% for language in languages %}
        <link rel="alternate" hreflang="{{ language.code }}" href="{{ buildLink({language: language.code, 'slug': ''}) }}">
    {% endfor %}
{% endif %}
{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700&amp;subset=latin,latin-ext" media="all">
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/axipicore/css/base.css') }}">
{% endblock %}

{{ getWidgets('head') }}
</head>

<body id="page-id-{{ page.id }}" class="page page-template-default custom-font-enabled">
    <div id="page" class="hfeed site">

    {% block header %}
        <header id="masthead" class="site-header" role="banner">
            {{ getWidgets('header') }}
            <nav id="site-navigation" class="main-navigation" role="navigation">
                <button class="menu-toggle">TODO</button>
                {{ getWidgets('nav') }}
            </nav>
        </header>
    {% endblock %}

    <div class="container">
        {% for type, flashes in app.session.flashbag.all() %}
            {% for flash in flashes %}
                <div class="alert alert-{{ type }}" role="alert">
                    <p>{{ flash }}</p>
                </div>
            {% endfor %}
        {% endfor %}
    </div>

    {% block before_content %}
        <div class="container">
            <div class="row">
                {{ getWidgets('before_content') }}
            </div>
        </div>
    {% endblock %}

    <div id="main" class="wrapper">
        <div id="primary" class="site-content">
            <div id="content" role="main">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        <div id="secondary" class="widget-area" role="complementary">
            {{ getWidgets('sidebar') }}
        </div>
    </div>

    {% block footer %}
        <footer id="colophon" role="contentinfo">
            {{ getWidgets('footer') }}
        </footer>
    {% endblock %}
    </div>

    {% block script %}
    <script type="text/javascript">
    var app_environment = '{{ app.environment }}';
    var app_request_locale = '{{ app.request.locale }}';
    var app_request_uri = '{{ app.request.uri }}';
    </script>
    <script type="text/javascript" src="{{ asset('vendor/jquery/dist/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/axipicore/js/base.js') }}"></script>
    {% endblock %}

</body>
</html>
