{% if form is defined %}{% form_theme form 'AxipiCoreBundle::form.html.twig' %}{% endif %}
<!DOCTYPE html>
<html lang="{{ page.language.code }}">

<head>
<title>{% block title %}{{ page.titleSeo|default(page.title) }}{% endblock %}</title>

{% block meta %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% if page.descriptionSeo %}
    <meta name="description" content="{{ page.descriptionSeo }}">
{% endif %}
{% if languages|length > 1 %}
    {% for language in languages %}
        <link rel="alternate" hreflang="{{ language.code }}" href="{{ buildLink({language: language.code, 'slug': ''}) }}">
    {% endfor %}
{% endif %}
{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700&amp;subset=latin,latin-ext" media="all">
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/axipicore/css/base.css') }}">
{% endblock %}

{{ getWidgets('head') }}
</head>

<body>

<div class="page" id="page-{{ page.id }}">
    {% block header %}
        <header>
            {{ getWidgets('before_nav') }}
            {% block nav %}
                <nav>
                    {{ getWidgets('nav') }}
                </nav>
            {% endblock %}
        </header>
    {% endblock %}

    <main>
        {% block before_content %}
            <section id="before_content">
                {{ getWidgets('before_content') }}
            </section>
        {% endblock %}

        {% block main %}
        {% endblock %}
    </main>

    {% block aside %}
        <aside>
            {{ getWidgets('sidebar') }}
        </aside>
    {% endblock %}

    {% block footer %}
        <footer>
            {{ getWidgets('footer') }}
        </footer>
    {% endblock %}
</div>

{% block script %}
<script type="text/javascript">
var app_environment = '{{ app.environment }}';
var app_request_locale = '{{ app.request.locale }}';
var app_request_uri = '{{ app.request.uri }}';
var page_id = '{{ page.id }}';
var page_language_code = '{{ page.language.code }}';
</script>
<script type="text/javascript" src="{{ asset('bundles/axipicore/js/base.js') }}"></script>
{% endblock %}

</body>
</html>
