{% extends 'AxipiContentBundle::base.html.twig' %}

{% block main %}
    <!-- Content / Error 404 -->
    <article id="post-{{ page.id }}" class="post-{{ page.id }} page type-pagey">
        <header class="entry-header">
            <h1 class="entry-title">{{ page.title }}</h1>
        </header>

        <div class="entry-content">
            {{ convertText(page.attribute('description')|raw) }}
        </div>
    </article>
    <!-- Content / Error 404 (end) -->
{% endblock %}

{% block meta %}
    {{ parent() }}
    {{ page.meta|raw }}
{% endblock %}

{% block style %}
    {{ parent() }}
    {{ page.style|raw }}
{% endblock %}

{% block script %}
    {{ parent() }}
    {{ page.script|raw }}
{% endblock %}
