{% extends 'AxipiContentBundle::base.html.twig' %}

{% block main %}
    <!-- Content / Error 404 -->
    <div class="row">
        <div class="col-lg-12">
            <h1>error404 controller</h1>
            <h2>{{ page.title }}</h2>
            <p><a href="{{ path('axipi_core_slug', {slug: 'a/b/c/d'}) }}">a/b/c/d</a></p>
            <p><a href="{{ path('axipi_core_slug', {slug: 'axipi'}) }}">axipi</a></p>
        </div>
    </div>
    <!-- Content / Error 404 (end) -->
{% endblock %}

{% block meta %}
    {{ parent() }}
    {{ page.meta|raw }}
{% endblock %}

{% block style %}
    {{ parent() }}
    {{ page.style|raw }}
{% endblock %}

{% block script %}
    {{ parent() }}
    {{ page.script|raw }}
{% endblock %}
