{% extends 'AxipiContentBundle::base.html.twig' %}

{% block main %}
    <!-- Content / Home -->
    <article id="post-71" class="post-71 page type-page status-publish hentry">
        <header class="entry-header">
            <h1 class="entry-title">{{ page.title }}</h1>
        </header>

        <div class="entry-content">
            {{ convertText(page.attribute('description')|raw) }}
        </div>
    </article>
    <!-- Content / Home (end) -->
{% endblock %}

{% block meta %}
    {{ parent() }}
    {{ page.meta|raw }}
{% endblock %}

{% block style %}
    {{ parent() }}
    {{ page.style|raw }}
{% endblock %}

{% block script %}
    {{ parent() }}
    {{ page.script|raw }}
{% endblock %}
