{% extends 'AxipiContentBundle::base.html.twig' %}

{% block main %}
    <!-- Content / Page -->
    <div class="row">
        <div class="col-lg-12">
            {{ convertText(page.attribute('description')|raw) }}
        </div>
    </div>
    <!-- Content / Page (end) -->
{% endblock %}

{% block meta %}
    {{ parent() }}
    {{ page.meta|raw }}
{% endblock %}

{% block style %}
    {{ parent() }}
    {{ page.style|raw }}
{% endblock %}

{% block script %}
    {{ parent() }}
    {{ page.script|raw }}
{% endblock %}
