{% extends 'AxipiBackendBundle::base.html.twig' %}

{% block title %}{{ 'zones'|trans({}, 'axipi_backend') }}{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            {% embed 'AxipiBackendBundle::block_title.html.twig' %}
                {% block block_title %}
                    <span><i class="fa fa-{{ 'icons.zone'|trans({}, 'axipi_backend') }}"></i>{{ 'zones'|trans({}, 'axipi_backend') }} ({{ objects.getTotalItemCount }})</span>
                {% endblock %}
                {% block block_title_actions %}
                    <li><a href="{{ path('axipi_backend_zone', {action: 'create'}) }}"><i class="fa fa-{{ 'icons.create'|trans({}, 'axipi_backend') }}"></i>{{ 'actions.create'|trans({}, 'axipi_backend') }}</a></li>
                {% endblock %}
            {% endembed %}

            <div class="block">
                {% embed 'AxipiBackendBundle::table.html.twig' with {'table_actions': false, 'row_actions': true} %}
                    {% block table_actions %}
                        <div>
                            <button name="submit" type="button" data-href="#select" data-id="works-works" class="inputsubmit submitcheckbox"><i class="fa fa-shopping-cart"></i>Sélectionner</button>
                        </div>
                        <div>
                            <button name="submit" type="button" data-href="#merge" data-id="works-works" class="inputsubmit submitcheckbox"><i class="fa fa-chain"></i>Fusionner</button>
                        </div>
                    {% endblock %}

                    {% block table_head %}
                        <th{% if objects.isSorted('zon.id') %} class="sort_asc"{% endif %}>{{ knp_pagination_sortable(objects, 'zone.id'|trans({}, 'axipi_backend'), 'zon.id') }}</th>
                        <th{% if objects.isSorted('zon.code') %} class="sort_asc"{% endif %}>{{ knp_pagination_sortable(objects, 'zone.code'|trans({}, 'axipi_backend'), 'zon.code') }}</th>
                        <th{% if objects.isSorted('zon.isActive') %} class="sort_asc"{% endif %}>{{ knp_pagination_sortable(objects, 'zone.isActive'|trans({}, 'axipi_backend'), 'zon.isActive') }}</th>
                        <th{% if objects.isSorted('zon.dateCreated') %} class="sort_asc"{% endif %}>{{ knp_pagination_sortable(objects, 'zone.dateCreated'|trans({}, 'axipi_backend'), 'zon.dateCreated') }}</th>
                    {% endblock %}

                    {% block table_row %}
                        <td><a href="{{ path('axipi_backend_zone', {action: 'read', 'id': object.id}) }}">{{ object.id }}</a></td>
                        <td><a href="{{ path('axipi_backend_zone', {action: 'read', 'id': object.id}) }}">{{ object.code }}</a></td>
                        <td>{{ object.isActive }}</td>
                        <td>{{ object.dateCreated|date }}</td>
                    {% endblock %}

                    {% block table_row_actions %}
                        <a href="{{ path('axipi_backend_zone', {action: 'update', 'id': object.id}) }}"><i class="fa fa-{{ 'icons.update'|trans({}, 'axipi_backend') }}"></i>{{ 'actions.update'|trans({}, 'axipi_backend') }}</a>
                        <a href="{{ path('axipi_backend_zone', {action: 'delete', 'id': object.id}) }}"><i class="fa fa-{{ 'icons.delete'|trans({}, 'axipi_backend') }}"></i>{{ 'actions.delete'|trans({}, 'axipi_backend') }}</a>
                    {% endblock %}
                {% endembed %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block style %}
    {{ parent() }}
{% endblock %}

{% block script %}
    {{ parent() }}
{% endblock %}
