{% extends 'AxipiBackendBundle::base.html.twig' %}

{% block title %}{{ 'zones'|trans({}, 'axipi_backend') }}{% endblock %}

{% block body %}
    {% embed 'AxipiBackendBundle::card.html.twig' with {sortzone: true} %}
        {% block card__actions %}
            <a class="mdl-button mdl-color--pink mdl-color-text--white" href="{{ path('axipi_backend_zone', {action: 'create'}) }}">{{ 'actions.create'|trans({}, 'axipi_backend') }}</a>
        {% endblock %}
        {% block card__title %}
            <span><i class="fa fa-{{ 'icons.zone'|trans({}, 'axipi_backend') }}"></i>{{ 'zones'|trans({}, 'axipi_backend') }}</span>
        {% endblock %}
        {% block card__supporting %}
            {% for object in objects %}
                <div class="mdl-cell mdl-cell--2-col sortitem" id="zone-{{ object.id }}">
                    <a href="{{ path('axipi_backend_zone', {action: 'read', id: object.id}) }}"><i class="fa fa-3x fa-{{ 'icons.zone'|trans({}, 'axipi_backend') }}"></i><br>{{ object.code }}</a>
                </div>
            {% endfor %}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block style %}
    {{ parent() }}
{% endblock %}

{% block script %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('vendor/jquery-ui/ui/minified/core.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('vendor/jquery-ui/ui/minified/mouse.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('vendor/jquery-ui/ui/minified/sortable.min.js') }}"></script>

    <script type="text/javascript">
    $('.sortzone').sortable({
        forcePlaceholderSize: true,
        cursor: "move",
        helper: "clone",
        appendTo: "#target-drag",
        zIndex: 9999,
        tolerance: "pointer",
        items: "div:not(.placeholder)",
        stop: function(event, ui) {
            var result = {};
            $(this).find('.sortitem').each(function(index) {
                var id = $(this).attr('id');
                result[id.replace('zone-', '')] = index + 1;
            });
            $.ajax({
                async: false,
                cache: false,
                data: {'result': JSON.stringify(result)},
                dataType: 'json',
                success: function (data) {
                },
                type: 'POST',
                url: '{{ path('axipi_backend_zone', {action: 'sort'}) }}'
            });
        }
    });
    </script>
{% endblock %}
