{% extends 'AxipiBackendBundle::base.html.twig' %}

{% block title %}{{ zone.code }} - {{ 'zones'|trans({}, 'axipi_backend') }}{% endblock %}

{% block body %}
    {% embed 'AxipiBackendBundle::card.html.twig' %}
        {% block card__actions %}
            <a class="mdl-button mdl-color--pink mdl-color-text--white" href="{{ path('axipi_backend_zones', {action: 'update', 'id': zone.id}) }}">{{ 'actions.update'|trans({}, 'axipi_backend') }}</a>
            <a class="mdl-button mdl-color--pink mdl-color-text--white" href="{{ path('axipi_backend_zones', {action: 'delete', 'id': zone.id}) }}">{{ 'actions.delete'|trans({}, 'axipi_backend') }}</a>
        {% endblock %}
        {% block card__title %}
            <span><a class="mdl-color-text--pink" href="{{ path('axipi_backend_zones', {action: 'index'}) }}"><i class="fa fa-{{ 'icons.zone'|trans({}, 'axipi_backend') }}"></i>{{ 'zones'|trans({}, 'axipi_backend') }}</a></span>
            <span>{{ zone.code }}</span>
        {% endblock %}
        {% block card__supporting %}
            <div class="mdl-cell mdl-cell--4-col">
                {{ macro.read_field('zone.code'|trans({}, 'axipi_backend'), zone.code) }}
                {{ macro.read_field('zone.ordering'|trans({}, 'axipi_backend'), zone.ordering) }}
                {{ macro.read_field('zone.isActive'|trans({}, 'axipi_backend'), zone.isActive) }}
            </div>
        {% endblock %}
    {% endembed %}

    {% embed 'AxipiBackendBundle::card.html.twig' %}
        {% block card__title %}
            <span><i class="fa fa-{{ 'icons.widget'|trans({}, 'axipi_backend') }}"></i>{{ 'widgets'|trans({}, 'axipi_backend') }}</span>
        {% endblock %}
        {% block card__supporting %}
            {% for object in zone.widgets %}
                <div class="mdl-cell mdl-cell--2-col">
                    {% if object.language %}
                        <a href="{{ path('axipi_backend_widgets', {language: object.language.code, action: 'read', id: object.id}) }}"><i class="fa fa-3x fa-{{ object.component.icon }}"></i><br>{{ object.title }}</a>
                    {% else %}
                        <a href="{{ path('axipi_backend_widgets', {language: 'null', action: 'read', id: object.id}) }}"><i class="fa fa-3x fa-{{ object.component.icon }}"></i><br>{{ object.title }}</a>
                    {% endif %}
                </div>
            {% endfor %}
        {% endblock %}
    {% endembed %}

    {% embed 'AxipiBackendBundle::card.html.twig' %}
        {% block card__title %}
            <span><i class="fa fa-{{ 'icons.component'|trans({}, 'axipi_backend') }}"></i>{{ 'components'|trans({}, 'axipi_backend') }}</span>
        {% endblock %}
        {% block card__supporting %}
            {% for object in zone.components %}
                <div class="mdl-cell mdl-cell--2-col">
                    <a href="{{ path('axipi_backend_components', {action: 'read', id: object.id}) }}"><i class="fa fa-3x fa-{{ object.icon }}"></i><br>{{ object.title }}</a>
                </div>
            {% endfor %}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block style %}
    {{ parent() }}
{% endblock %}

{% block script %}
    {{ parent() }}
{% endblock %}
