{% extends 'AxipiBackendBundle:MaterialDesignLite:base.html.twig' %}

{% block title %}{{ 'pages'|trans({}, 'axipi_backend') }}{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="mdl-grid">
        {% embed 'AxipiBackendBundle:MaterialDesignLite:card.html.twig' %}
            {% block card__title %}
                <span><a class="mdl-color-text--pink" href="{{ path('axipi_backend_pages', {mode: mode, language: app.request.get('language'), action: 'index'}) }}"><i class="fa fa-{{ 'icons.page'|trans({}, 'axipi_backend') }}"></i>{{ 'pages'|trans({}, 'axipi_backend') }}</a></span>
                {% if page_parent is defined %}
                    {% if page_parent.parent %}
                        {% if page_parent.parent.parent %}
                            {% if page_parent.parent.parent.parent %}
                                <span><a class="mdl-color-text--pink" href="{{ path('axipi_backend_pages', {mode: mode, language: app.request.get('language'), action: 'read', id: page_parent.parent.parent.parent.id}) }}">{{ page_parent.parent.parent.parent.title }}</a></span>
                            {% endif %}
                            <span><a class="mdl-color-text--pink" href="{{ path('axipi_backend_pages', {mode: mode, language: app.request.get('language'), action: 'read', id: page_parent.parent.parent.id}) }}">{{ page_parent.parent.parent.title }}</a></span>
                        {% endif %}
                        <span><a class="mdl-color-text--pink" href="{{ path('axipi_backend_pages', {mode: mode, language: app.request.get('language'), action: 'read', id: page_parent.parent.id}) }}">{{ page_parent.parent.title }}</a></span>
                    {% endif %}
                    <span><a class="mdl-color-text--pink" href="{{ path('axipi_backend_pages', {mode: mode, language: app.request.get('language'), action: 'read', id: page_parent.id}) }}">{{ page_parent.title }}</a></span>
                {% endif %}
            {% endblock %}
            {% block card__supporting %}
                <div class="mdl-cell mdl-cell--4-col">
                    {{ macro.read_field('item.language'|trans({}, 'axipi_backend'), language.title) }}
                    {{ macro.read_field('item.component'|trans({}, 'axipi_backend'), component.title) }}
                    {{ form_row(form.template) }}
                    {{ form_row(form.parent) }}
                    {{ form_row(form.code) }}
                    {{ form_row(form.title) }}
                    {{ form_row(form.slug) }}
                    {{ form_row(form.isHome) }}
                    {{ form_row(form.excludeSitemap) }}
                    {{ form_row(form.excludeSearch) }}
                    {{ form_row(form.isActive) }}
                    {{ form_row(form.submit) }}
                </div>
                <div class="mdl-cell mdl-cell--8-col">
                    <div class="mdl-tabs">
                        <div class="mdl-tabs__tab-bar">
                            <a href="#attributes-panel" class="mdl-tabs__tab is-active">{{ 'item.attributes'|trans({}, 'axipi_backend') }}</a>
                            <a href="#seo_social-panel" class="mdl-tabs__tab">{{ 'seo_social'|trans({}, 'axipi_backend') }}</a>
                            <a href="#extra-panel" class="mdl-tabs__tab">{{ 'extra'|trans({}, 'axipi_backend') }}</a>
                        </div>
                        <div class="mdl-tabs__panel is-active" id="attributes-panel">
                            {{ form_row(form.attributesChange) }}
                        </div>
                        <div class="mdl-tabs__panel" id="seo_social-panel">
                            {{ form_row(form.titleSeo) }}
                            {{ form_row(form.descriptionSeo) }}
                            {{ form_row(form.titleSocial) }}
                            {{ form_row(form.descriptionSocial) }}
                        </div>
                        <div class="mdl-tabs__panel" id="extra-panel">
                            {{ form_row(form.meta) }}
                            {{ form_row(form.style) }}
                            {{ form_row(form.script) }}
                        </div>
                    </div>
                </div>
            {% endblock %}
        {% endembed %}
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block style %}
    {{ parent() }}
{% endblock %}

{% block script %}
    {{ parent() }}
{% endblock %}
