{% extends 'AxipiBackendBundle:MaterialDesignLite:base.html.twig' %}

{% block title %}{{ 'pages'|trans({}, 'axipi_backend') }} ({{ app.request.get('language') }}){% endblock %}

{% block navbar %}
    {% if 'wysiwyg' in mode %}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block body %}
    <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
        <div class="mdl-tabs__tab-bar">
            {% for language in languages %}
                <a href="{{ path('axipi_backend_pages', {mode: mode, language: language.code, action: 'index'}) }}" class="mdl-tabs__tab{% if app.request.get('language') == language.code %} is-active{% endif %}">{{ language.title }}</a>
            {% endfor %}
        </div>
    </div>

    {% embed 'AxipiBackendBundle:MaterialDesignLite:block_title.html.twig' %}
        {% block block_title %}
            <span><i class="fa fa-{{ 'icons.page'|trans({}, 'axipi_backend') }}"></i>{{ 'pages'|trans({}, 'axipi_backend') }}</span>
        {% endblock %}
        {% block block_title_actions %}
        {% endblock %}
    {% endembed %}

    <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
        <div class="mdl-tabs__tab-bar">
            <a href="#toplevel-panel" class="mdl-tabs__tab is-active"><i class="fa fa-{{ 'icons.top_level'|trans({}, 'axipi_backend') }}"></i>{{ 'top_level'|trans({}, 'axipi_backend') }}</a>
            <a href="#create-panel" class="mdl-tabs__tab"><i class="fa fa-{{ 'icons.create'|trans({}, 'axipi_backend') }}"></i>{{ 'actions.create'|trans({}, 'axipi_backend') }}</a>
        </div>

        <div class="mdl-tabs__panel is-active" id="toplevel-panel">
            <div class="mdl-grid">
                {% for object in objects %}
                    <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--2-col">
                        <div class="mdl-card__supporting-text mdl-color-text--black">
                            <a class="thumbnail" href="{{ path('axipi_backend_pages', {mode: mode, language: app.request.get('language'), action: 'read', id: object.id}) }}"><i class="fa fa-4x fa-{{ object.component.icon }}"></i><br>{{ object.title }}</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="mdl-tabs__panel" id="create-panel">
            <div class="mdl-grid">
                {% for component in components %}
                    <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--2-col">
                        <div class="mdl-card__supporting-text mdl-color-text--black">
                            <a class="thumbnail" href="{{ path('axipi_backend_pages', {mode: mode, language: app.request.get('language'), action: 'create', id: component.id}) }}"><i class="fa fa-4x fa-{{ component.icon }}"></i><br>{{ component.title }}</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block style %}
    {{ parent() }}
{% endblock %}

{% block script %}
    {{ parent() }}
{% endblock %}
