{% extends 'AxipiBackendBundle:MaterialDesignLite:base.html.twig' %}

{% block title %}{{ page.title }} - {{ 'pages'|trans({}, 'axipi_backend') }}{% endblock %}

{% block body %}
    <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
        <div class="mdl-tabs__tab-bar">
            {% for language in languages %}
                <a href="{{ path('axipi_backend_pages', {mode: mode, language: language.code, action: 'index'}) }}" class="mdl-tabs__tab{% if app.request.get('language') == language.code %} is-active{% endif %}">{{ language.title }}</a>
            {% endfor %}
        </div>
    </div>

    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="mdl-grid">
        <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col">
            <div class="mdl-card__title mdl-color-text--white mdl-color--teal">
                <h1 class="mdl-card__title-text">
                    <span><a class="mdl-color-text--white" href="{{ path('axipi_backend_pages', {language: app.request.get('language'), action: 'index'}) }}"><i class="fa fa-{{ 'icons.top_level'|trans({}, 'axipi_backend') }}"></i>{{ 'top_level'|trans({}, 'axipi_backend') }}</a></span>
                    {% if page.parent %}
                        {% if page.parent.parent %}
                            {% if page.parent.parent.parent %}
                                <span><a class="mdl-color-text--white" href="{{ path('axipi_backend_pages', {mode: mode, language: app.request.get('language'), action: 'read', id: page.parent.parent.parent.id}) }}"><i class="fa fa-{{ page.parent.parent.parent.component.icon }}"></i>{{ page.parent.parent.parent.title }}</a></span>
                            {% endif %}
                            <span><a class="mdl-color-text--white" href="{{ path('axipi_backend_pages', {mode: mode, language: app.request.get('language'), action: 'read', id: page.parent.parent.id}) }}"><i class="fa fa-{{ page.parent.parent.component.icon }}"></i>{{ page.parent.parent.title }}</a></span>
                        {% endif %}
                        <span><a href="{{ path('axipi_backend_pages', {mode: mode, language: app.request.get('language'), action: 'read', id: page.parent.id}) }}"><i class="fa fa-{{ page.parent.component.icon }}"></i>{{ page.parent.title }}</a></span>
                    {% endif %}
                    <span><a class="mdl-color-text--white" href="{{ path('axipi_backend_pages', {language: app.request.get('language'), action: 'read', 'id': page.id}) }}"><i class="fa fa-{{ page.component.icon }}"></i>{{ page.title }}</a></span>
                    <span><i class="fa fa-{{ 'icons.update'|trans({}, 'axipi_backend') }}"></i>{{ 'actions.update'|trans({}, 'axipi_backend') }}</span>
                </h1>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-color--pink mdl-color-text--white" href="{{ path('axipi_backend_pages', {language: app.request.get('language'), action: 'delete', 'id': page.id}) }}">{{ 'actions.delete'|trans({}, 'axipi_backend') }}</a>
            </div>
        </div>

        <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col">
            <div class="mdl-card__supporting-text mdl-grid">
                <div class="mdl-cell mdl-cell--4-col">
                    {{ macro.read_field('item.language'|trans({}, 'axipi_backend'), page.language.title) }}
                    {{ macro.read_field('item.component'|trans({}, 'axipi_backend'), page.component.title) }}
                    {{ form_row(form.template) }}
                    {{ form_row(form.parent) }}
                    {{ form_row(form.code) }}
                    {{ form_row(form.title) }}
                    {{ form_row(form.slug) }}
                    {{ form_row(form.isHome) }}
                    {{ form_row(form.excludeSitemap) }}
                    {{ form_row(form.excludeSearch) }}
                    {{ form_row(form.isActive) }}
                    {{ form_row(form.submit) }}
                </div>
                <div class="mdl-cell mdl-cell--8-col">
                    {{ form_row(form.attributesChange) }}
                </div>
                <div class="mdl-cell mdl-cell--6-col">
                    {{ form_row(form.titleSeo) }}
                    {{ form_row(form.descriptionSeo) }}
                    {{ form_row(form.titleSocial) }}
                    {{ form_row(form.descriptionSocial) }}
                </div>
                <div class="mdl-cell mdl-cell--6-col">
                    {{ form_row(form.meta) }}
                    {{ form_row(form.style) }}
                    {{ form_row(form.script) }}
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block style %}
    {{ parent() }}
{% endblock %}

{% block script %}
    {{ parent() }}
{% endblock %}
