<!-- Blog / Categories -->
<section class="widget{% if widget.attribute('section_class') %} {{ widget.attribute('section_class') }}{% endif %}" id="widget-{{ widget.id }}">
    {% if widget.attribute('display_title')|default(false) %}
        <header>{{ widget.title }}</header>
    {% endif %}

    <ul{% if widget.attribute('ul_class') %} class="{{ widget.attribute('ul_class') }}"{% endif %}>
        {% for child in children %}
            <li{% if page.slug == child.slug %} class="active"{% endif %}><a href="{{ buildLink(child) }}">{{ child.title }}</a></li>
        {% endfor %}
    </ul>
</section>
<!-- Blog / Categories (end) -->
