{% extends 'AxipiBackendBundle::base.html.twig' %}

{% block title %}{{ 'widgets'|trans({}, 'axipi_backend') }}{% endblock %}

{% block body %}
    {% embed 'AxipiBackendBundle::card.html.twig' with {form: form} %}
        {% block card__title %}
            <span><a class="mdl-color-text--pink" href="{{ path('axipi_backend_widgets', {language: app.request.get('language'), action: 'index'}) }}"><i class="fa fa-{{ 'icons.widget'|trans({}, 'axipi_backend') }}"></i>{{ 'widgets'|trans({}, 'axipi_backend') }}</a></span>
            <span><a class="mdl-color-text--pink" href="{{ path('axipi_backend_widgets', {language: app.request.get('language'), action: 'read', 'id': widget.id}) }}">{{ widget.title }}</a></span>
        {% endblock %}
        {% block card__supporting %}
            <div class="mdl-cell mdl-cell--4-col">
                {{ form_row(form.parent) }}
                {{ form_row(form.page) }}
                {{ form_row(form.title) }}
                {{ form_row(form.ordering) }}
                {{ form_row(form.isActive) }}
                {{ form_row(form.submit) }}
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block style %}
    {{ parent() }}
{% endblock %}

{% block script %}
    {{ parent() }}
{% endblock %}
