{% extends 'AxipiBackendBundle::base.html.twig' %}

{% block title %}{{ 'widgets'|trans({}, 'axipi_backend') }}{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            {% embed 'AxipiBackendBundle::block_title.html.twig' %}
                {% block block_title %}
                    <span><i class="fa fa-{{ 'icons.widget'|trans({}, 'axipi_backend') }}"></i>{{ 'widgets'|trans({}, 'axipi_backend') }} ({{ objects.getTotalItemCount }})</span>
                {% endblock %}
                {% block block_title_actions %}
                    <li><a role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="true" aria-controls="collapseExample"><i class="fa fa-{{ 'icons.create'|trans({}, 'axipi_backend') }}"></i>{{ 'actions.create'|trans({}, 'axipi_backend') }}</a></li>
                {% endblock %}
            {% endembed %}

            <div class="block collapse" id="collapseExample">
                <div class="row">
                    {% for component in components %}
                        <div class="col-lg-2 col-sm-3 col-xs-6 text-center">
                            <a class="thumbnail" href="{{ path('axipi_backend_widgets', {action: 'create', id: component.id}) }}"><i class="fa fa-4x fa-{{ component.icon }}"></i><br>{{ component.title }}</a>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="block">
                {% embed 'AxipiBackendBundle::table.html.twig' with {'table_actions': false, 'row_actions': true} %}
                    {% block table_actions %}
                        <div>
                            <button name="submit" type="button" data-href="#select" data-id="works-works" class="inputsubmit submitcheckbox"><i class="fa fa-shopping-cart"></i>Sélectionner</button>
                        </div>
                        <div>
                            <button name="submit" type="button" data-href="#merge" data-id="works-works" class="inputsubmit submitcheckbox"><i class="fa fa-chain"></i>Fusionner</button>
                        </div>
                    {% endblock %}

                    {% block table_head %}
                        <th{% if objects.isSorted('wdg.id') %} class="sort_asc"{% endif %}>{{ knp_pagination_sortable(objects, 'widget.id'|trans({}, 'axipi_backend'), 'wdg.id') }}</th>
                        <th>{{ 'widget.component'|trans({}, 'axipi_backend') }}</th>
                        <th{% if objects.isSorted('wdg.title') %} class="sort_asc"{% endif %}>{{ knp_pagination_sortable(objects, 'widget.title'|trans({}, 'axipi_backend'), 'wdg.title') }}</th>
                        <th{% if objects.isSorted('wdg.code') %} class="sort_asc"{% endif %}>{{ knp_pagination_sortable(objects, 'widget.code'|trans({}, 'axipi_backend'), 'wdg.code') }}</th>
                        <th>{{ 'widget.zone'|trans({}, 'axipi_backend') }}</th>
                        <th{% if objects.isSorted('wdg.dateCreated') %} class="sort_asc"{% endif %}>{{ knp_pagination_sortable(objects, 'widget.dateCreated'|trans({}, 'axipi_backend'), 'wdg.dateCreated') }}</th>
                    {% endblock %}

                    {% block table_row %}
                        <td><a href="{{ path('axipi_backend_widgets', {action: 'read', 'id': object.id}) }}">{{ object.id }}</a></td>
                        <td><a href="{{ path('axipi_backend_components', {action: 'read', 'id': object.component.id}) }}"><i class="fa fa-{{ object.component.icon }}"></i>{{ object.component.title }}</a></td>
                        <td><a href="{{ path('axipi_backend_widgets', {action: 'read', 'id': object.id}) }}">{{ object.title }}</a></td>
                        <td>{{ object.code }}</td>
                        <td>{{ object.zone.code }}</td>
                        <td>{{ object.dateCreated|date }}</td>
                    {% endblock %}

                    {% block table_row_actions %}
                        <a href="{{ path('axipi_backend_widgets', {action: 'update', 'id': object.id}) }}"><i class="fa fa-{{ 'icons.update'|trans({}, 'axipi_backend') }}"></i>{{ 'actions.update'|trans({}, 'axipi_backend') }}</a>
                        <a href="{{ path('axipi_backend_widgets', {action: 'delete', 'id': object.id}) }}"><i class="fa fa-{{ 'icons.delete'|trans({}, 'axipi_backend') }}"></i>{{ 'actions.delete'|trans({}, 'axipi_backend') }}</a>
                    {% endblock %}
                {% endembed %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block style %}
    {{ parent() }}
{% endblock %}

{% block script %}
    {{ parent() }}
{% endblock %}
