{% extends 'AxipiBackendBundle::base.html.twig' %}

{% block title %}{{ relation.widget.title }} - {{ 'widgets'|trans({}, 'axipi_backend') }}{% endblock %}

{% block body %}
    {% embed 'AxipiBackendBundle::card.html.twig' %}
        {% block card__actions %}
            <a class="mdl-button mdl-color--pink mdl-color-text--white" href="{{ path('axipi_backend_relations', {language: app.request.get('language'), action: 'update', 'id': relation.id}) }}">{{ 'actions.update'|trans({}, 'axipi_backend') }}</a>
            <a class="mdl-button mdl-color--pink mdl-color-text--white" href="{{ path('axipi_backend_relations', {language: app.request.get('language'), action: 'delete', 'id': relation.id}) }}">{{ 'actions.delete'|trans({}, 'axipi_backend') }}</a>
        {% endblock %}
        {% block card__title %}
            <span><a class="mdl-color-text--pink" href="{{ path('axipi_backend_widgets', {language: app.request.get('language'), action: 'index'}) }}"><i class="fa fa-{{ 'icons.widget'|trans({}, 'axipi_backend') }}"></i>{{ 'widgets'|trans({}, 'axipi_backend') }}</a></span>
            <span><a class="mdl-color-text--pink" href="{{ path('axipi_backend_widgets', {language: app.request.get('language'), action: 'read', 'id': relation.widget.id}) }}">{{ relation.widget.title }}</a></span>
            {% if relation.parent %}
                {% if relation.parent.parent %}
                    <span><a class="mdl-color-text--pink" href="{{ path('axipi_backend_relations', {language: app.request.get('language'), action: 'read', id: relation.parent.parent.id}) }}">{{ relation.parent.parent.page.title }}</a></span>
                {% endif %}
                <span><a class="mdl-color-text--pink" href="{{ path('axipi_backend_relations', {language: app.request.get('language'), action: 'read', id: relation.parent.id}) }}">{{ relation.parent.page.title }}</a></span>
            {% endif %}
            <span>{{ relation.page.title }}</span>
        {% endblock %}
        {% block card__supporting %}
            <div class="mdl-cell mdl-cell--4-col">
                {% if relation.parent %}{{ macro.read_field('relation.parent'|trans({}, 'axipi_backend'), relation.parent.page.title) }}{% endif %}
                {{ macro.read_field('relation.page'|trans({}, 'axipi_backend'), relation.page.title) }}
                {{ macro.read_field('relation.title'|trans({}, 'axipi_backend'), relation.title) }}
                {{ macro.read_field('relation.ordering'|trans({}, 'axipi_backend'), relation.ordering) }}
            </div>
            <div class="mdl-cell mdl-cell--4-col">
                {{ macro.read_field('relation.isActive'|trans({}, 'axipi_backend'), relation.isActive) }}
            </div>
        {% endblock %}
    {% endembed %}

    {% embed 'AxipiBackendBundle::card.html.twig' %}
        {% block card__actions %}
            <a class="mdl-button mdl-color--pink mdl-color-text--white" href="{{ path('axipi_backend_relations', {language: app.request.get('language'), action: 'create', 'id': relation.widget.id}) }}">{{ 'actions.create'|trans({}, 'axipi_backend') }}</a>
        {% endblock %}
        {% block card__title %}
            <span><i class="fa fa-{{ 'icons.relation'|trans({}, 'axipi_backend') }}"></i>{{ 'relations'|trans({}, 'axipi_backend') }}</span>
        {% endblock %}
        {% block card__supporting %}
            {% for object in relations %}
                <div class="mdl-cell mdl-cell--2-col dragitem">
                    <a href="{{ path('axipi_backend_relations', {language: app.request.get('language'), action: 'read', id: object.id}) }}"><i class="fa fa-3x fa-{{ object.page.component.icon }}"></i><br>{{ object.page.title }}</a>
                </div>
            {% endfor %}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block style %}
    {{ parent() }}
{% endblock %}

{% block script %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('vendor/jquery-ui/ui/minified/core.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('vendor/jquery-ui/ui/minified/mouse.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('vendor/jquery-ui/ui/minified/sortable.min.js') }}"></script>

    <script type="text/javascript">
    $('.mdl-card__supporting-text').sortable({
        forcePlaceholderSize: true,
        cursor: "move",
        helper: "clone",
        appendTo: "#target-drag",
        zIndex: 9999,
        //placeholder: "mdl-cell mdl-cell--2-col ui-state-highlight",
        tolerance: "pointer",
        items: "div:not(.placeholder)",
        stop: function(event, ui) {
            console.log(event);
        }
    });
    </script>
{% endblock %}
