<!-- Content / Menu -->
<div id="widget-{{ widget.code }}" class="{{ widget.attribute('div_class')|default('col-lg-2') }}">
    <form method="get" class="form-inline" action="{{ buildLink(widget.parent) }}">
        <div class="form-group">
            <input class="form-control" type="text" name="q" value="{{ request.get('q') }}" placeholder="{{ widget.attribute('placeholder')|default('widget.placeholder'|trans({}, 'axipi_search')) }}">
        </div>
    </form>
</div>

<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "WebSite",
    "url": "{{ buildLink({language: widget.parent.language.code, slug: ''}) }}",
    "potentialAction": {
        "@type": "SearchAction",
        "target": "{{ buildLink(widget.parent) }}?q={query}",
        "query-input": "required name=query"
    }
}
</script>
<!-- Content / Menu (end) -->
