{% extends 'AxipiSearchBundle::base.html.twig' %}

{% block main %}
    <!-- Search / Page -->
    <section class="main">
        <header>
            <h1>{{ page.title }}</h1>
        </header>

        <article>
            {{ convertText(page.attribute('description')|raw) }}
        </article>
    </section>

    <section class="search-form">
        <form role="search" method="get"{% if page.attribute('form_class') %} class="{{ page.attribute('form_class') }}"{% endif %}>
            <label for="page-input-{{ page.id }}">{{ page.attribute('label')|default('page.label'|trans({}, 'axipi_search')) }}</label>
            <input id="page-input-{{ page.id }}" type="text" name="q" value="{{ request.get('q') }}">
            <input type="submit" value="{{ page.attribute('submit')|default('page.submit'|trans({}, 'axipi_search')) }}">
        </form>
    </section>

    {% if hits is defined %}
        {% for result in hits.hits %}
            <section class="result">
                <header>
                    <h2><a href="{{ buildLink({language: result._source.language.code, slug: result._source.slug}) }}">{{ result._source.title }}</a></h2>
                </header>

                <article>
                    {% if result._score is defined %}
                        <p><em>{{ result._score }}</em></p>
                    {% endif %}
                    {% if page.attribute('all_languages') %}
                        <p><em>{{ result._source.language.title }}</em></p>
                    {% endif %}
                    {% if result.highlight.description[0] is defined %}
                        <p>{{ result.highlight.description[0]|raw }}</p>
                    {% endif %}
                </article>
            </section>
        {% endfor %}
    {% endif %}
    <!-- Search / Page (end) -->
{% endblock %}

{% block meta %}
    {{ parent() }}
    {{ page.meta|raw }}
{% endblock %}

{% block style %}
    {{ parent() }}
    {{ page.style|raw }}
{% endblock %}

{% block script %}
    {{ parent() }}
    {{ page.script|raw }}
{% endblock %}
