{% extends 'AxipiBackendBundle::base.html.twig' %}

{% block title %}{{ language.title }} - {{ 'languages'|trans({}, 'axipi_backend') }}{% endblock %}

{% block body %}
    {% embed 'AxipiBackendBundle::card.html.twig' with {form: form} %}
        {% block card__actions %}
            <a class="mdl-button mdl-color--pink mdl-color-text--white" href="{{ path('axipi_backend_language', {action: 'update', 'id': language.id}) }}">{{ 'actions.update'|trans({}, 'axipi_backend') }}</a>
        {% endblock %}
        {% block card__title %}
            <span><a class="mdl-color-text--pink" href="{{ path('axipi_backend_language', {action: 'index'}) }}"><i class="fa fa-{{ 'icons.language'|trans({}, 'axipi_backend') }}"></i>{{ 'languages'|trans({}, 'axipi_backend') }}</a></span>
            <span><a class="mdl-color-text--pink" href="{{ path('axipi_backend_language', {action: 'read', 'id': language.id}) }}">{{ language.title }}</a></span>
        {% endblock %}
        {% block card__supporting %}
            <div class="mdl-cell mdl-cell--4-col">
                {{ form_row(form.confirm) }}
                {{ form_row(form.submit) }}
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block style %}
    {{ parent() }}
{% endblock %}

{% block script %}
    {{ parent() }}
{% endblock %}
