{% extends 'AxipiBackendBundle:MaterialDesignLite:base.html.twig' %}

{% block title %}{{ file.code }} - {{ 'files'|trans({}, 'axipi_backend') }}{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="mdl-grid">
        <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col">
            <div class="mdl-card__title">
                <h1 class="mdl-card__title-text">
                    <span><a class="mdl-color-text--pink" href="{{ path('axipi_backend_files', {action: 'index'}) }}"><i class="fa fa-{{ 'icons.file'|trans({}, 'axipi_backend') }}"></i>{{ 'files'|trans({}, 'axipi_backend') }}</a></span>
                    <span><a class="mdl-color-text--pink" href="{{ path('axipi_backend_files', {action: 'read', 'id': file.id}) }}"><i class="fa fa-{{ 'icons.file'|trans({}, 'axipi_backend') }}"></i>{{ file.code }}</a></span>
                    <span>{{ 'actions.delete'|trans({}, 'axipi_backend') }}</span>
                </h1>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-color--pink mdl-color-text--white" href="{{ path('axipi_backend_files', {action: 'update', 'id': file.id}) }}">{{ 'actions.update'|trans({}, 'axipi_backend') }}</a>
            </div>
        </div>

        <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col">
            <div class="mdl-card__supporting-text mdl-grid">
                <div class="mdl-cell mdl-cell--4-col">
                    {{ form_row(form.confirm) }}
                    {{ form_row(form.submit) }}
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block style %}
    {{ parent() }}
{% endblock %}

{% block script %}
    {{ parent() }}
{% endblock %}
