{% extends 'AxipiBackendBundle:Bootstrap:base.html.twig' %}

{% block title %}{{ file.name }} - {{ 'files'|trans({}, 'axipi_backend') }}{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            {% embed 'AxipiBackendBundle:Bootstrap:block_title.html.twig' %}
                {% block block_title %}
                    {% for tree in tree %}
                        {% if tree.slug != file.slug %}
                            <span><a href="{{ path('axipi_backend_files', {action: 'index', 'slug': tree.slug}) }}"><i class="fa fa-folder"></i>{{ tree.name }}</a></span>
                        {% endif %}
                    {% endfor %}
                    <span><i class="fa fa-{{ file.icon }}"></i>{{ file.name }}</span>
                {% endblock %}
                {% block block_title_actions %}
                    <li><a href="{{ path('axipi_backend_files', {action: 'update', 'slug': file.slug}) }}"><i class="fa fa-{{ 'icons.update'|trans({}, 'axipi_backend') }}"></i>{{ 'actions.update'|trans({}, 'axipi_backend') }}</a></li>
                    <li><a href="{{ path('axipi_backend_files', {action: 'delete', 'slug': file.slug}) }}"><i class="fa fa-{{ 'icons.delete'|trans({}, 'axipi_backend') }}"></i>{{ 'actions.delete'|trans({}, 'axipi_backend') }}</a></li>
                {% endblock %}
            {% endembed %}

            <div class="block">
                <div class="row">
                    <div class="col-lg-4">
                        {{ macro.read_field('file.name'|trans({}, 'axipi_backend'), file.name) }}
                        {{ macro.read_field('file.size'|trans({}, 'axipi_backend'), file.size) }}
                        {{ macro.read_field('file.mime'|trans({}, 'axipi_backend'), file.mime) }}
                    </div>
                    <div class="col-lg-4">
                        {% if 'image/' in file.mime %}
                            <img src="{{ asset('files/' ~ file.slug) }}" class="img-responsive">
                        {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block style %}
    {{ parent() }}
{% endblock %}

{% block script %}
    {{ parent() }}
{% endblock %}
